
# table of contents

Range is an immutable Data type and is also a function

## Syntax

- Below is the syntax of the range() function 
- range(start,stop,step)

- it takes three argument . Out of the three two are optional. the start and step areoptional arguments and the stop is the mandatory argument

### paqrameters

- start:(lower limit)
- stop :(upper limit)
- step:(specify the incrementing or decrementing value)

In [3]:
# print first 10 numbers 
# stop= 10

for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(0,10,1):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,

In [10]:
for i in range(0,10,2):
    print(i,end=',')

0,2,4,6,8,

In [11]:
for i in range(0,10,5):
    print(i,end=',')

0,5,

In [12]:
for i in range(0,10,1):
    print(i,end='@')

0@1@2@3@4@5@6@7@8@9@

In [13]:
for i in range(10):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,

In [19]:
# NUmbers from 10 to 15 
# start= 10
# stop= 16 

for i in range(16,10):
    print(i,end=',')

10,11,12,13,14,15,

In [23]:
for i in range(16,10,-1):
    print(i,end=',')

16,15,14,13,12,11,

### note*
 the range will return an empty sequnece if you set the stop value less than start

In [26]:
for i in range(-16,10,-1):
    print(i,end=',')

# making list of a range

In [1]:
list2=list(range(0,10,1))

In [3]:
print(list2)
print(type(list2))  # all the operation of list will be aplicable

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

# Reverse range

In [1]:
# using reverse indexing

for i in range(10,2,-2):
    print(i,end=',')

10,8,6,4,

In [14]:
# using reverse()

for i in reversed(range(0,10,1)):
    print(i,end=',')

9,8,7,6,5,4,3,2,1,0,

In [12]:
range(10,20,0)   # step can't  be zero

ValueError: range() arg 3 must not be zero

## Inclusive range

In [8]:
# inclusive range

start = 1
stop = 5
step= 1

# change stop
stop+=step

for i in range(start,stop,step):
    print(i,end=',')

1,2,3,4,5,

In [53]:
for i in range(5+1):
    print(i,end=',')

0,1,2,3,4,5,

In [55]:
for i in range(5):
    print(i,end=',')

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (50762672.py, line 1)

In [46]:
for i in range(5*2):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,

In [50]:
for i in range(10//2+1):
    print(i,end=',')

0,1,2,3,4,5,

In [5]:
start = 1
stop = 5
step= 1

# change stop
stop-=step

for i in range(start,stop,step):
    print(i,end=',')

1,2,3,

In [14]:
start = 1
stop = 5
step= 1

# change stop
step*=stop

for i in range(start,stop,step):
    print(i,end=',')

1,

## doubling

In [1]:
for i in range(10,100,10):
    print(i,end=',')

10,20,30,40,50,60,70,80,90,

In [2]:
listr=list(range(10,100,10))
print(listr)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [5]:
print(listr*2)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 10, 20, 30, 40, 50, 60, 70, 80, 90]

## indexing of range

- negative , positive

In [6]:
for i in range(10,100,10):
    print(i,end=',')

10,20,30,40,50,60,70,80,90,

In [7]:
range(10,100,10)[1]

20

In [8]:
range(10)[0]

0

In [9]:
range(10,100,10)[-1]

90

## reverse by index

In [10]:
range(10,100,10)[::-1]

range(90, 0, -10)

## slicing

In [47]:
for i in range(10,100,10):
    print(i,end=',')

10,20,30,40,50,60,70,80,90,

In [48]:
range(10,100,10)[1:3]

range(20, 40, 10)

In [49]:
range(10,100,10)[-1:-3]

range(90, 70, 10)

In [52]:
range(10,100,10)[0:4]   # it will give answer in range

range(10, 50, 10)

# remove 
 first change it to list

In [17]:
liste=list(range(10))
print(liste)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
liste.append(45)      # all fuctions of list are applied after changing it into list 
print(liste)

print(type(liste))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 45]
<class 'list'>

In [19]:
liste.remove(4)     # REMOVE

In [20]:
print(liste)

[0, 1, 2, 3, 5, 6, 7, 8, 9, 45]

## changing list into range

In [13]:
liste=range

In [14]:
print(liste)

<class 'range'>