# python input:Take Input from user

In [ ]:
input('Question of Mark Twain:')  # do not run it

In [1]:
input('any integer')

any integer5

'5'

In [3]:
name=input('enter my name:')

enter my name:pawan

In [4]:
name=input('enter my name')

enter my namepawan

In [6]:
place=input('enter a place:')

enter a place:halwani

In [ ]:
print(company=input('enter the comany'))
print(salary= input('enter the salary'))

In [1]:
# take three values from user

name=input('enter employee name:')
salary=input('enter salary')
company=input('enter company name')  # you have to enter three times after adding values


# displays all values on screen 


print("\n")
print("printing employee details")
print("name","salary","company")
print(name,salary,company)
print(type(name))

enter employee name:pawan
enter salary1
enter company namex


printing employee details
name salary company
pawan 1 x
<class 'str'>

In [2]:
name=input('enter employee name:')
salary=input('enter salary')
company=input('enter company name') 


# displays all values on screen 


print("printing employee details")
print("name","salary","company")
print(name,salary,company)
print(type(name))

enter employee name:pawan
enter salary1
enter company namex


printing employee details
name salary company
pawan 1 x
<class 'str'>

In [17]:
first_no=input('first no:')
second_no=input('second no:')

sum1=first_no+ second_no
print(sum1)
type(sum1)

first no:123
second no:456
123456

str

In [18]:
first_no=int(input('first no:'))
second_no=int(input('second no:'))

sum1=first_no+ second_no
print(sum1)
type(sum1)

first no:123
second no:456
579

int

In [19]:
first_no=int(input('first no:'))
second_no=int(input('second no:'))

sum1=first_no*second_no
print(sum1)
type(sum1)

first no:123
second no:456
56088

int

In [20]:
first_no=int(input('first no:'))
second_no=int(input('second no:'))

sum1=first_no-second_no
print(sum1)
type(sum1)

first no:123
second no:456
-333

int

In [1]:
first_no=int(input('first no:'))
second_no=int(input('second no:'))

sum1=first_no+=second_no
print(sum1)
type(sum1)

SyntaxError: invalid syntax (289506406.py, line 4)

In [3]:
first_no=int(input('first no:'))
second_no=int(input('second no:'))

sum1=first_no/second_no
print(sum1)
type(sum1)

first no:123
second no:456
0.26973684210526316

float

In [1]:
first_no=int(input('first no:'))
second_no=int(input('second no:'))

sum1=first_no%second_no
print(sum1)
type(sum1)

first no:123
second no:456
123

int

In [2]:
123%456

123

In [2]:
school=input('name of school')
tclass = input('name of class')
strenght=input('strenght of 7')

name of schooldav
name of class7th
strenght of 746

In [17]:
number1=int(input('enter the first no.'))
number2=int(input('enter the second no.'))
table=number1*number2

print("\n")
print(number1," * " ,number2, " = ",number1*number2)

enter the first no.4
enter the second no.2


4  *  2  =  8

In [6]:
x=int(input('enter the no.'))
y=1,2,3,4,5,6,7,8,9,10

for i in y:
    print(x,'*',i,'=',x*i )

enter the no.4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40