In [3]:
print(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [6]:
for i in range(1,26,1):
    print(i,end=',')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,

In [16]:
numbers=[1,2,3,4]
for i in numbers:
    print(i)
    i=i+3

1
2
3
4

In [17]:
numbers=[1,2,3,4]
for i in numbers:
    i=i+3
    print(i)

4
5
6
7

In [20]:
numbers=[1,2,3,4]
for i in numbers:
    i=i+3
    print(i)
    if i==4:
        print('yes')

4
yes
5
6
7

In [21]:
numbers=[1,2,3,4]
for i in numbers:
    i=i+3
    print(i)
    for j in i:
        if j==4:
            print('yes')

4

TypeError: 'int' object is not iterable

In [28]:
numbers=[1,2,3,4]
for i in numbers:
    i=i+3
    print(i)
    for j in [i]:
        if j==4:
            print('yes')

4
yes
5
6
7

In [7]:
colours=['green','yellow','red']
for colour in colours:
    print(colour)     # needs 4 spaces before print which is called Indent

green
yellow
red

In [10]:
# nested for loop

colours=['green','yellow','red']
for colour in colours:
    print(colour)
    
    for i in colour:
        print(i)

green
g
r
e
e
n
yellow
y
e
l
l
o
w
red
r
e
d

In [54]:
colours=['green','yellow','red']   #
for colour in colours:
    print(colour)
for i in colour:   # this is not nested loop after removing intend it came out of the 1st loop
        print(i)

green
yellow
red
r
e
d

In [56]:
colours=['green','yellow','red']   #
for colour in colours:
    print(colour)
    
for i in colour:   # this is not nested loop after removing intend it came out of the 1st loop
        print(i)
        print(colour)

green
yellow
red
r
red
e
red
d
red

In [12]:
colours=['green','yellow','red']
for colour in colours:
    print(colour)
    
    for i in (colour*2):  # operation in green,yellow,red
        print(i)

green
g
r
e
e
n
g
r
e
e
n
yellow
y
e
l
l
o
w
y
e
l
l
o
w
red
r
e
d
r
e
d

In [13]:
colours=['green','yellow','red']
for colour in colours:
    print(colour*2)   # operation in colour
    
    for i in colour:
        print(i)

greengreen
g
r
e
e
n
yellowyellow
y
e
l
l
o
w
redred
r
e
d

In [20]:
colours=['green','yellow','red']
for colour in colours:
    if colour=='green':
        print(colour)

green

In [21]:
colours=['green','yellow','red']
for colour in colours:
    if colour=='green':
        print(colour)
        
for colour in colours:
    print(colour)

green
green
yellow
red

In [44]:
colours=['green','yellow','red']
for colour in colours:
    if colour=='green':         
        print(colour)
        
for colour in colours:
    print(colour)

green
green
yellow
red

In [24]:
colours=['green','yellow','red']
for colour in colours:
    if colour=='green':
        print(colour)
        
    for colour in colour:
        print(colour)

green
g
r
e
e
n
y
e
l
l
o
w
r
e
d

In [14]:
colours=['green','yellow','red']

for colour in colours:
    print(colour)
    
    for colour in colour:
            print(colour)

green
g
r
e
e
n
yellow
y
e
l
l
o
w
red
r
e
d

In [52]:
colours=['green','yellow','red']   
for colour in colours:
    if colour=='green':
        print(colour)
    for i in colour:
        print(i)
        for j in i:
            if j!='yellow':
                print(j*3)   # this is not nested loop after removing intend it came out of t

green
g
ggg
r
rrr
e
eee
e
eee
n
nnn
y
yyy
e
eee
l
lll
l
lll
o
ooo
w
www
r
rrr
e
eee
d
ddd

In [2]:
x=['paw','hey','so']
for  y in x:
    if y=='say':         # no output
        print(y)

In [3]:
for y in x:
    if y=='hey':
        print(y)

hey

In [8]:
for y in x:
    print(y)
        for y in y:
            print(y)

IndentationError: unexpected indent (2149684317.py, line 3)

In [9]:
for y in x:
    print(y)
    for y in y:
        print(y)

paw
p
a
w
hey
h
e
y
so
s
o

In [10]:
x=['paw','hey','so']
for i in x:
    print(i)
    for i in x:
        if i=='hey':
            print(i)

paw
hey
hey
hey
so
hey

In [11]:
for i*2 in x:
    print(i)

SyntaxError: cannot assign to expression (382361687.py, line 1)

In [12]:
for i in x:
    print(i*2)

pawpaw
heyhey
soso

In [26]:
u=[12,34,57,890,'hey']
for i in u:
    if i>12
    print(i)

SyntaxError: expected ':' (2130319557.py, line 3)

In [29]:
u=[12,34,57,890,'hey']
for i in u:
    if i<11:
        print(i)
    else:
        print(i*2)

24
68
114
1780

TypeError: '<' not supported between instances of 'str' and 'int'

In [32]:
u=[12,34,57,890,'hey']
for i in u:
    if i<11:
        print(i)
    else:
        print(i==str)

False
False
False
False

TypeError: '<' not supported between instances of 'str' and 'int'

In [38]:
z=[12,34,57,890]
for i in z:
    if i<11:
        print(i)
    else:
        print('s')

s
s
s
s

In [1]:
numbers=[1,2,3,4,5]
# iterate over each element in list num
for i in numbers:
    i=i+3    # statement 1
    square=i**2  # statement 2    # it will givean integer non iterablefor second loop
    print('square of ',i, 'is', square) # statement1
    for j in square: # nested for loop
        if j==16:    # statement1 for second loop
            print('lucky number') # statement2 for second loop

square of  4 is 16

TypeError: 'int' object is not iterable

In [3]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=i**2 # in for loop we should have only data type which are iterable by making list we made it iterable
    print('square of :', i ,'is', square)
    for j in [square]:
        if j==16:
            print('lucky number')

square of : 4 is 16
lucky number
square of : 5 is 25
square of : 6 is 36
square of : 7 is 49
square of : 8 is 64

In [4]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2] # in for loop we should have only data type which are iterable by making list we made it iterable
    print('square of :', i ,'is', square)
    for j in square:
        if j==16:
            print('lucky number')

square of : 4 is [16]
lucky number
square of : 5 is [25]
square of : 6 is [36]
square of : 7 is [49]
square of : 8 is [64]

In [30]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=i**2
    print('square of :',i,'is', [square])
    for j in square:   # j is going in square=i**2 for iteration
        if j==16:
            print('lucky number')

square of : 4 is [16]

TypeError: 'int' object is not iterable

In [31]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=i**2
    print('square of :',i,'is', square)
    for j in [square]: # j is going to iterable [square]
        if j==16:
            print('lucky number')

square of : 4 is 16
lucky number
square of : 5 is 25
square of : 6 is 36
square of : 7 is 49
square of : 8 is 64

In [32]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=i**2
    print('square of :',i,'is', [square])
    for j in [square]:
        if j==16:
            print('lucky number')

square of : 4 is [16]
lucky number
square of : 5 is [25]
square of : 6 is [36]
square of : 7 is [49]
square of : 8 is [64]

In [35]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of :',i,'is', [square])
    for j in [square]:
        if j==16:  # for loop ran but gave no output
            print('lucky number')

square of : 4 is [[16]]
square of : 5 is [[25]]
square of : 6 is [[36]]
square of : 7 is [[49]]
square of : 8 is [[64]]

In [10]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of :',i,'is', [square])
    for j in [square]:
        if j==[16]:
            print('lucky number')

square of : 4 is [[16]]
lucky number
square of : 5 is [[25]]
square of : 6 is [[36]]
square of : 7 is [[49]]
square of : 8 is [[64]]

In [6]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    [square]=i**2
    print('square of', i, 'is',square)
    for j in square:
        if j==16:
            print('lucky number')

TypeError: cannot unpack non-iterable int object

In [28]:
x=25
print([x])

[25]

In [8]:
numbers=[1,2,3,4,5]
for i in numbers:
    y=i+3
    square=[y**2]
    print('square of :',y,'is', square)
    for j in [square]:
        if j==16:
            print('lucky number')

square of : 4 is [16]
square of : 5 is [25]
square of : 6 is [36]
square of : 7 is [49]
square of : 8 is [64]

In [12]:
number_data=[323,209,5900,31092,3402,39803,78341,79843740,895,6749,2870984]
for number in number_data:
    if num<number:
        num==number
        print(num)

NameError: name 'num' is not defined

##### odd even

In [1]:
print('setting of odd,even')
number=int(input('number'))
if number%2==0:
    print('even')
else:
    print('odd')

setting of odd,even
number43543648578
even

In [10]:
numer=[12,34,45,36,78,76,37,35,1,3]
for i in number:
    if i%2==0:
        print('even')
else:
    print('odd')

TypeError: not all arguments converted during string formatting

#### digit in letter

In [29]:
number=int(input('number'))
for i in number:
    if i==1:
        print('one')

number1

TypeError: 'int' object is not iterable

In [2]:
number=[int(input('number'))]
for i in number:
    if i==1:
        print('one')

number1
one

In [1]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i , 'is', square.append(9))
    for j in [square]:
        if j==[16]:
            print('lucky number')

square of 4 is None
square of 5 is None
square of 6 is None
square of 7 is None
square of 8 is None

In [15]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i , 'is', square.append(9),square)
    for j in [square]:
        if j==16:
            print('lucky number')

square of 4 is None [16, 9]
square of 5 is None [25, 9]
square of 6 is None [36, 9]
square of 7 is None [49, 9]
square of 8 is None [64, 9]

In [16]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i , 'is', square.append(9),square)
    for j in square:
        if j==16:
            print('lucky number')

square of 4 is None [16, 9]
lucky number
square of 5 is None [25, 9]
square of 6 is None [36, 9]
square of 7 is None [49, 9]
square of 8 is None [64, 9]

In [12]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i , 'is', square.append(9),square+3)
    for j in [square]:
        if j==[16]:
            print('lucky number')

TypeError: can only concatenate list (not "int") to list

In [21]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i , 'is', square.append(9),square+[3])
    for j in square:
        if j==16:
            print('lucky number')

square of 4 is None [16, 9, 3]
lucky number
square of 5 is None [25, 9, 3]
square of 6 is None [36, 9, 3]
square of 7 is None [49, 9, 3]
square of 8 is None [64, 9, 3]

In [10]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i , 'is', square.append(9),square,square.append(14))
    for j in [square]:
        if j==[16]:
            print('lucky number')

square of 4 is None [16, 9, 14] None
square of 5 is None [25, 9, 14] None
square of 6 is None [36, 9, 14] None
square of 7 is None [49, 9, 14] None
square of 8 is None [64, 9, 14] None

In [14]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i , 'is', square.append(9),square,square.append(14),square)
    for j in square:
        if j==[9]:
            print('lucky number')

square of 4 is None [16, 9, 14] None [16, 9, 14]
square of 5 is None [25, 9, 14] None [25, 9, 14]
square of 6 is None [36, 9, 14] None [36, 9, 14]
square of 7 is None [49, 9, 14] None [49, 9, 14]
square of 8 is None [64, 9, 14] None [64, 9, 14]

In [13]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i , 'is', square.append(9),square,square+[3],square.extend([2,3,5]),square,set(square),square.remove(5),square)
    for j in [square]:
        if j==[16]:    # list difference
            print('lucky number')
print(square)

square of 4 is None [16, 9, 2, 3] [16, 9, 3] None [16, 9, 2, 3] {2, 3, 5, 9, 16} None [16, 9, 2, 3]
square of 5 is None [25, 9, 2, 3] [25, 9, 3] None [25, 9, 2, 3] {2, 3, 5, 9, 25} None [25, 9, 2, 3]
square of 6 is None [36, 9, 2, 3] [36, 9, 3] None [36, 9, 2, 3] {2, 3, 36, 5, 9} None [36, 9, 2, 3]
square of 7 is None [49, 9, 2, 3] [49, 9, 3] None [49, 9, 2, 3] {2, 3, 5, 9, 49} None [49, 9, 2, 3]
square of 8 is None [64, 9, 2, 3] [64, 9, 3] None [64, 9, 2, 3] {64, 2, 3, 5, 9} None [64, 9, 2, 3]
[64, 9, 2, 3]

In [6]:
print(square)

[64, 9, 2, 3]

In [8]:
s = [[2],3,4,5,6]
[2] in s

True

In [4]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of',i , 'is', square)
    for j in [square]:
        if j==[16]:
            print('lucky')

square of 4 is [16]
lucky
square of 5 is [25]
square of 6 is [36]
square of 7 is [49]
square of 8 is [64]

In [4]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i , 'is', square.append(9),id(square),square,square+[3],id(square))
    for j in [square]:
        if j==[16]:
            print('lucky number')

square of 4 is None 2824618200192 [16, 9] [16, 9, 3] 2824618200192
square of 5 is None 2824618381568 [25, 9] [25, 9, 3] 2824618381568
square of 6 is None 2824618200192 [36, 9] [36, 9, 3] 2824618200192
square of 7 is None 2824618381568 [49, 9] [49, 9, 3] 2824618381568
square of 8 is None 2824618200192 [64, 9] [64, 9, 3] 2824618200192

In [82]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i, 'is',square.append(90),square,square+[6],square.extend([9,89,67,78]),square,set(square),square.remove(67),square)
    for j in [square]:
        if j==[16,90,9,89]:
            print('lucky number')
print(square)

square of 4 is None [16, 90, 9, 89, 78] [16, 90, 6] None [16, 90, 9, 89, 78] {67, 9, 78, 16, 89, 90} None [16, 90, 9, 89, 78]
square of 5 is None [25, 90, 9, 89, 78] [25, 90, 6] None [25, 90, 9, 89, 78] {67, 9, 78, 89, 90, 25} None [25, 90, 9, 89, 78]
square of 6 is None [36, 90, 9, 89, 78] [36, 90, 6] None [36, 90, 9, 89, 78] {67, 36, 9, 78, 89, 90} None [36, 90, 9, 89, 78]
square of 7 is None [49, 90, 9, 89, 78] [49, 90, 6] None [49, 90, 9, 89, 78] {67, 9, 78, 49, 89, 90} None [49, 90, 9, 89, 78]
square of 8 is None [64, 90, 9, 89, 78] [64, 90, 6] None [64, 90, 9, 89, 78] {64, 67, 9, 78, 89, 90} None [64, 90, 9, 89, 78]
[64, 90, 9, 89, 78]

In [26]:
square=[16,90]
id(square)

2752690435200

In [27]:
square+[6]

[16, 90, 6]

In [28]:
print(square) # thats why answer is [64,90,9,89,90] 6 is not included in list

[16, 90]

In [35]:
square.append(10)

In [36]:
print(square)

[64, 90, 9, 89, 78, 10]

In [34]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i, 'is',(square.append(90)),(square),(square+[6]),(square.extend([9,89,67,78])),(square),(set(square)),(square.remove(67)),(square))
    for j in [square]:
        if j==[16,90,9,89]:
            print('lucky number')
print(square)

square of 4 is None [16, 90, 9, 89, 78] [16, 90, 6] None [16, 90, 9, 89, 78] {67, 9, 78, 16, 89, 90} None [16, 90, 9, 89, 78]
square of 5 is None [25, 90, 9, 89, 78] [25, 90, 6] None [25, 90, 9, 89, 78] {67, 9, 78, 89, 90, 25} None [25, 90, 9, 89, 78]
square of 6 is None [36, 90, 9, 89, 78] [36, 90, 6] None [36, 90, 9, 89, 78] {67, 36, 9, 78, 89, 90} None [36, 90, 9, 89, 78]
square of 7 is None [49, 90, 9, 89, 78] [49, 90, 6] None [49, 90, 9, 89, 78] {67, 9, 78, 49, 89, 90} None [49, 90, 9, 89, 78]
square of 8 is None [64, 90, 9, 89, 78] [64, 90, 6] None [64, 90, 9, 89, 78] {64, 67, 9, 78, 89, 90} None [64, 90, 9, 89, 78]
[64, 90, 9, 89, 78]

In [80]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i, 'is',(square.append(90)),(square),(square+[6]),(square.extend([9,89,67,78])),(square),(set(square)),(square.remove(67)),(square))

square of 4 is None [16, 90, 9, 89, 78] [16, 90, 6] None [16, 90, 9, 89, 78] {67, 9, 78, 16, 89, 90} None [16, 90, 9, 89, 78]
square of 5 is None [25, 90, 9, 89, 78] [25, 90, 6] None [25, 90, 9, 89, 78] {67, 9, 78, 89, 90, 25} None [25, 90, 9, 89, 78]
square of 6 is None [36, 90, 9, 89, 78] [36, 90, 6] None [36, 90, 9, 89, 78] {67, 36, 9, 78, 89, 90} None [36, 90, 9, 89, 78]
square of 7 is None [49, 90, 9, 89, 78] [49, 90, 6] None [49, 90, 9, 89, 78] {67, 9, 78, 49, 89, 90} None [49, 90, 9, 89, 78]
square of 8 is None [64, 90, 9, 89, 78] [64, 90, 6] None [64, 90, 9, 89, 78] {64, 67, 9, 78, 89, 90} None [64, 90, 9, 89, 78]

In [39]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i, 'is',square.append(90))
    print(square)
    print(square+[6])
    print(square)
    print(square.extend([9,89,67,78]))
    print(square)
    print(set(square))
    print(square.remove(67))
    print(square)
    for j in [square]:
        if j==[16,90,9,89]:
            print('lucky number')
print(square)

square of 4 is None
[16, 90]
[16, 90, 6]
[16, 90]
None
[16, 90, 9, 89, 67, 78]
{67, 9, 78, 16, 89, 90}
None
[16, 90, 9, 89, 78]
square of 5 is None
[25, 90]
[25, 90, 6]
[25, 90]
None
[25, 90, 9, 89, 67, 78]
{67, 9, 78, 89, 90, 25}
None
[25, 90, 9, 89, 78]
square of 6 is None
[36, 90]
[36, 90, 6]
[36, 90]
None
[36, 90, 9, 89, 67, 78]
{67, 36, 9, 78, 89, 90}
None
[36, 90, 9, 89, 78]
square of 7 is None
[49, 90]
[49, 90, 6]
[49, 90]
None
[49, 90, 9, 89, 67, 78]
{67, 9, 78, 49, 89, 90}
None
[49, 90, 9, 89, 78]
square of 8 is None
[64, 90]
[64, 90, 6]
[64, 90]
None
[64, 90, 9, 89, 67, 78]
{64, 67, 9, 78, 89, 90}
None
[64, 90, 9, 89, 78]
[64, 90, 9, 89, 78]

In [57]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i, 'is', square.append(90),square,square.extend([778,89,90]),square,square[3]=2345)
    for j in [square]:
        if j==[16,90,9,89]:
            print('lucky number')
print(square)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (381596304.py, line 5)

In [55]:
square=[12,234,56,678]

In [56]:
print(square[0]=6834756)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (594790521.py, line 1)

### single line print command and multiple line print command

In [74]:
umbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i, 'is', square.append(90),square,square.extend([778,89,90]),square,square[0]==16)
    for j in [square]:
        if j==[16,90,9,89]:
            print('lucky number')
print(square)

square of 4 is None [16, 90, 778, 89, 90] None [16, 90, 778, 89, 90] True
square of 5 is None [25, 90, 778, 89, 90] None [25, 90, 778, 89, 90] False
square of 6 is None [36, 90, 778, 89, 90] None [36, 90, 778, 89, 90] False
square of 7 is None [49, 90, 778, 89, 90] None [49, 90, 778, 89, 90] False
square of 8 is None [64, 90, 778, 89, 90] None [64, 90, 778, 89, 90] False
[64, 90, 778, 89, 90]

In [54]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i, 'is', square.append(90))
    print(square)
    print(square.extend([778,89,90]))
    print(square)
    print(square[0]==16)
    
    for j in [square]:
        if j==[16,90,9,89]:
            print('lucky number')
print(square)

square of 4 is None
[16, 90]
None
[16, 90, 778, 89, 90]
True
square of 5 is None
[25, 90]
None
[25, 90, 778, 89, 90]
False
square of 6 is None
[36, 90]
None
[36, 90, 778, 89, 90]
False
square of 7 is None
[49, 90]
None
[49, 90, 778, 89, 90]
False
square of 8 is None
[64, 90]
None
[64, 90, 778, 89, 90]
False
[64, 90, 778, 89, 90]

In [59]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i, 'is', square.append(90),square,square.extend([778,89,70]),square.pop())
    for j in [square]:
        if j==[16,90,9,89]:
            print('lucky number')
print(square)

square of 4 is None [16, 90, 778, 89] None 70
square of 5 is None [25, 90, 778, 89] None 70
square of 6 is None [36, 90, 778, 89] None 70
square of 7 is None [49, 90, 778, 89] None 70
square of 8 is None [64, 90, 778, 89] None 70
[64, 90, 778, 89]

In [60]:
numbers=[1,2,3,4,5]
for i in numbers:
    i=i+3
    square=[i**2]
    print('square of', i, 'is', square.append(90),square,square.extend([778,89,70]),square.pop(),del square)
    for j in [square]:
        if j==[16,90,9,89]:
            print('lucky number')
print(square)

SyntaxError: invalid syntax (3420045842.py, line 5)

### experiment with set by foe loop

In [10]:
number={1,2,3,4,5}
for i in number:
    i=i+3
    square={i**2}
    print('square of', i, 'is' ,square.add(12),square,square.update([90,80,70]),square,square.remove(80),square,)
    for j in square:
        if j==16:
            print('lucky number')

square of 4 is None {70, 12, 16, 90} None {70, 12, 16, 90} None {70, 12, 16, 90}
lucky number
square of 5 is None {70, 12, 25, 90} None {70, 12, 25, 90} None {70, 12, 25, 90}
square of 6 is None {36, 70, 12, 90} None {36, 70, 12, 90} None {36, 70, 12, 90}
square of 7 is None {70, 12, 49, 90} None {70, 12, 49, 90} None {70, 12, 49, 90}
square of 8 is None {64, 70, 12, 90} None {64, 70, 12, 90} None {64, 70, 12, 90}

### experiment with tuple by for loop

In [8]:
tup=(1,2,3,4,5)
for i in tup:
    print(i, end=',')

1,2,3,4,5,

## FOR LOOP WITH RANGE

In [5]:
for i in range(10,100,10):
        print(i)

10
20
30
40
50
60
70
80
90

## ATM

In [4]:
card_no=int(input('card no'))
if card_no==:
    print('card accepted')
    
else:
     print('card not accepted')

card no2
card not accepted

In [3]:
card_no=range(0,20,1)

In [4]:
print(card_no)

range(0, 20)

In [19]:
print(range(100))

range(0, 100)

In [21]:
i=range(100)

In [22]:
print(i)

range(0, 100)

## print all even and odd numbers

# Break for loop

In [5]:
for i in range(30):
    print(i,end=',')
    if i>15:
        break

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,

In [6]:
for i in range(30):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,

In [9]:
number=[1,4,7,8,15,17,20,9,3,45,55]
for i in number:
    if i>15:
        print(i)
        break

17

In [10]:
number=[1,4,7,8,15,17,20,9,3,45,55]
for i in number:
    if i>15: # as soon as given condition satisfied loop stops working
        break # break the loop
    else:
        print(i)

1
4
7
8
15

In [11]:
number=[1,4,7,8,15,17,20,9,3,45,55]
for i in number:
    if i>15:
        print(i)
        break
    else:
        print(i)

1
4
7
8
15
17

# continue statement in for loop

The continue statement skips the current iteration of a loop and immediately jumps to the next iteration 

Use the continue statement when you want to jump to the next iteration of the loop immediately

### Example:count the total no. to 'm'

In [15]:
alpha=['m', 'c,d', 'r', 'm', 'c', 'm']
alpha.count('m')

3

In [ ]:
# skipping specific items in a loop
item in items:
    if condition(item):
        continue  # skip this item and move to the next one

In [16]:
name='mariya mennen'
count=0
for i in name:
    if i!='m':
        continue  # if you do not want to print this condition then write continue in place of print
    else:
        count=count+1
        print('Total number of m is',count)

Total number of m is 1
Total number of m is 2

In [17]:
name='mariya mennen'
count=0
for i in name:
    if i!='m':
        continue
    else:
        count=count+1
print('Total number of m is',count)

Total number of m is 2

In [18]:
name='mariya mennen'
count=0
for i in name:
    if i!='m':
        print(i)
        continue
    else:
        count=count+1
print('Total number of m is',count)

a
r
i
y
a

e
n
n
e
n
Total number of m is 2

In [19]:
name='mariya mennen'
count=0
for i in name:
    if i!='m':
        print()
        continue
    else:
        count=count+1
print('Total number of m is',count)

Total number of m is 2

In [23]:
for i in range(11):
    if i%2==0:  # skippinf the even number
        continue 
    else:
        print(i)

1
3
5
7
9

In [24]:
for i in range(11):
    if i%2==0:
        print()
    else:
        print(i)

1

3

5

7

9

In [25]:
for i in range(11):
    if i%2==1:
        continue
    else:
        print(i)

0
2
4
6
8
10

In [26]:
0%2

0

## Pass Statement in for loop
 The pass statement is a null statement, i.e; nothing happens when he statement is execute.Primmarily it is used in empty function or classes. When the interpreter finds a pass statement in the programe it returns no operation

In [3]:
number=[1,4,7,8,15,17,20,9,3,45,55]
for i in number:
    if i>15:
        pass
    else:
        print(i)

1
4
7
8
15
9
3

In [1]:
for i in range(11):
    if i%2==0:
        pass

In [6]:
for i in range(11):
    if i%2==0:

SyntaxError: incomplete input (4028463893.py, line 2)

## Reverse for loop

In [1]:
for i in range(5):
    print(i*'*')

*
**
***
****

In [9]:
for i in range(5,0,-1):
    print(i*'*')

*****
****
***
**
*