# Python functions

In Python, a function is a block of code defined with a name. We use function whenever we need to perform the same task multiple times  without writing the same code again. It can take arguments and returns the value

Python has a DRY principle like other  programming language. DRY stands don't for Repeat Yourself. Consider a scenario where we need to do some action/task many times .We can define that action only once using a function and call that function whenever required to do tha same activity

Function improves efficency and reduces errors because of the reusability of a code.Once we create a function. we can call it anywhere and anytime.The benefit of the using a function is  reusability and modularity

### Types for function in python

- Built-in-funtion-- range(),id(),type(),input(),len(),etc

- User defined funtions- are created by programmer explicitly according to the requirement

#### Creating a function

- Use the def keyword with the function name to define a function
- Next, pass the number of parameters as per your requirement(optional)
- Next, define the function body with a block of code. This block of code is nothing but the action you wanted to perform
- In Python , no need to specify  curly braces for the function body. The only  indentation is essential  to separate code blocks. Otherwise you will get an error

In [21]:
# function
def add(a,b):
    x= a + b
    #return the addtion
    return x
# call function 
# take return value in variable
res= add(20,5)

print('addition:', res)
# output Addition:25

addition: 25

In [25]:
def sub(a,b):
    y=a-b
    return y
cus=sub(20,5)
print('subtraction',cus)

subtraction 15

In [26]:
sub(100,50)

50

In [1]:
def floor(i,c):
    v=i//c
    return v
    
fl=floor(100,2)
print('Answer',fl)

Answer 50

In [33]:
floor(10,2)

5.0

In [38]:
add(30,40)

70

In [37]:
add(30,40)
add(3.3,3.3)

6.6

In [41]:
def paw(a,b,c):
    x=a-b-c
    return x
ser=paw(10,20,30)
print(ser)

-40

In [42]:
def paw(a,b,c):
    x=a+b+c
    return x
er=paw(10,20,30)
print(er)

60

In [48]:
def add(a,b):
    x= a - b
    return x
dr=add(12,34)
print(dr)

-22

In [49]:
add(10,12)

-2

In [50]:
add(10,12)

-2

In [1]:
def mult(a,b,c,):
    v=a*b*c
    return v
x=mult(20,10)
print(x)

TypeError: mult() missing 1 required positional argument: 'c'

### wihtout returning variable

In [3]:
def sub(a,b):
    print(a-b)
sub(3,2)

1

In [2]:
def lat(a,b,c,d):
    print(a+b+c+d)
lat(10,20,30,40)

100

### Without print()

In [4]:
def long(a,b,c,d):
    return(a+b+c-d)
long(12,23,45,10)

70

In [1]:
def sub(a,b):
    return(a-b)
sub(3,4)

-1

### Fuction without parameter

In [2]:
# func without parameter and expression will have no return

def message():
    print('welcome to VijAi') # no output without calling teh function
    
# call the function using its name
message()

welcome to VijAi

In [1]:
def message():
    print('welcome to VijAi')
    
# do not depends on print function

### Creating a function with parameters

In [4]:
def course_func(name,course_name):
    print('hello', name, 'Welcome to VijAi')
    print('your course name is ', course_name)
    
course_func('vidushi',"Python")

hello vidushi Welcome to VijAi
your course name is  Python

### Creating a function with parameters and return value

fuction can return a value. The value is the output of the function. Use the return keyword to return value from a fucntion

In [5]:
def calculator(a,b):
    add= a + b
    # return the addtion
    return add  

# call the function
# take return value in variable
res=calculator(20,5)

print('Addition:',res)
# output Addition:25

Addition: 25

In [6]:
def calculator(a,b):
    add= a + b
    # return the addtion
    return 

# call the function
# take return value in variable
res=calculator(20,5)

print('Addition:',res)
# output Addition:25

Addition: None

In [5]:
def cal(a,b):
    x=a+b
    return x
no=cal(12,12)
print(no)

def cal(a,b):   
    y=a*b
    return y
no=cal(10,12)
print(no)

24
120

In [3]:
def find_even_odd(num):
    if num%2==0:
        print('it is an even number')
    else:
        print('it is a odd number')
result=find_even_odd(int(input('enter the no.')))

enter the no.23
it is a odd number

In [1]:
# list set dictionary can be the parameter of a function

def is_even(list1):
    even_num=[]
    for n in list1:
        if n%2==0:
            even_num.append(n)
        # retrun a list
    return even_num

# pass list to the function
even_num= is_even([2,3,42,51,62,70,5,9])
print('Even numbers are:', even_num)

Even numbers are: [2, 42, 62, 70]

In [4]:
def ev(a):
    ev_num=[]  # here it is a local  variable 
    for i in a:
        if i%2==0:
            ev_num.append(i)
    print(ev_num)
    
ex=ev([12,34,54,234,45])

[12, 34, 54, 234]

In [3]:
ev_num=[] # here it is a global variable
def ev(a):
    for i in a:
        if i%2==0:
            ev_num.append(i)
  
    
ex=ev([12,34,54,234,45])
print(ev_num)

[12, 34, 54, 234]

In [2]:
def calculator(x,y):
    add=x+y
    sub=x-y
    mul=x*y
    div=x/y
    return add,sub,mul,div
a,b,c,d=calculator(20,4)
print('addition',a)
print('sub',b)
print('mul',c)
print('div',d)

addition 24
sub 16
mul 80
div 5.0

## Scope and lifetime of variables 
when we define a fucntion with variables, then those variable scope is limited to that fucntion in python, the scope of a variable is an area where a variable is declared .It is called the variable's local scope

we cannot access the local variable from outside of the function .because the scope is local , those variable are not visible from the out side of the function.

In [5]:
global_lang='dataScience'
def var_scope_test():
    local_lang='python'
    print(local_lang)
var_scope_test()
#output 'Python'

#outside of function

print(global_lang)
#output 'DataScience'

#NameError: name 'local_lang' is not defined
print(local_lang)

python
dataScience

NameError: name 'local_lang' is not defined

### Local Variable in function

A local variable is a variable declared inside the function that is not assecible from outside the function . The scope of local variable is limited to that function  only where it is declared 

If we try to access the local variable  from outside of the function, we will get the error as name error

In [3]:
def function1():
    # local variiable 
    loc_var=888
    print('value is:', loc_var)
    
def function2():
    print('value is:', loc_var)
    
    
function1()
function2()

value is: 888

NameError: name 'loc_var' is not defined

### Global variable in function
 A global variable is a variable that declares outside of the function the scope of a global variable is broad. It is accessible in all functions of the same module

In [4]:
global_var=999

def function1():
    print('value in 1st function:',global_var)
def function2():
    print('value in 2nd functon:', global_var)-
    
    
function1()
function2()

value in 1st function: 999
value in 2nd functon: 999

In [6]:
global_var=999

def function1():
    print('value in 1st function:',global_var)
def function2():
    print('value in 2nd functon:', global_var)

function1()

value in 1st function: 999

## Nonlocal variable in function

- In python, nonlocal is the keyword used to declare a variable so that it acts as global variable for a nested function (i.e. function within another function)

- We can use a nonlocal keyword when we want to declare a variable in the local scope and to make it by non local keyword global  variable.

In [4]:
def outer_func():
    x=777
    
    def inner_func():
        # local variable now acts as global variable
        nonlocal x
        x=700
        print('value of x inside inner function is:', x)
        
    inner_func()
    print('value of x inside outer function is:',x)
    
outer_func()

value of x inside inner function is: 700
value of x inside outer function is: 700

In [7]:
def outer_func():
    x=777
    
    def inner_func():
        x=700
        print('value of x inside inner function is:', x)
        
    inner_func()
    print('value of x inside outer function is:',x)
    
outer_func()

value of x inside inner function is: 700
value of x inside outer function is: 777

In [17]:
def outer_func():
    x=777
    
    def inner_func():
        # local variable now acts as global variable
        nonlocal x
        
        print('value of x inside inner function is:', x)
        
    inner_func()
    print('value of x inside outer function is:',x)
    
outer_func()

value of x inside inner function is: 777
value of x inside outer function is: 777

In [12]:
def glob1():
    local=5
    print('value is:',local)
    
glob1()

    def glob2():
        nonlocal local
        print('value of globe2',local)
    
glob2()

IndentationError: unexpected indent (402664280.py, line 7)

In [10]:
def glob1():
    local=5
    print('value of is:',local)
    def glob2():
        nonlocal local
        print('value is:',local)
    glob2()
        
glob1()

value of is: 5
value is: 5

- Note nonlocal works only for nested function

In [24]:
def kr():
    high=45
    print('value of global',high)
kr()
def cr():
    nonlocal high
    print('value of nonlocal',high)
cr()

value of global 45

SyntaxError: no binding for nonlocal 'high' found (673880171.py, line 6)

In [16]:
def kr():
    high=45
    print('value of global',high)
    def cr():
        nonlocal high
        print('value of nonlocal',high)
    cr()
kr()

value of global 45
value of nonlocal 45

In [1]:
def kr():
    high=45
    print('value of global',high)
    def cr():
        nonlocal high
        print('value of nonlocal',high)
        cr()
    cr()
kr()

value of global 45
value of nonlocal 45

In [12]:
cr()

NameError: name 'cr' is not defined

In [11]:
kr()

value of global 45
value of nonlocal 45

In [3]:
def kr():
    high=45
    print('value of global',high)
    def cr():
        nonlocal high
        print('value of nonlocal',high)
    kr()
kr()

# it is running infinity

value of global 45

In [1]:
def main():
    x=34
    def semi():
        nonlocal x
        def low():
            nonlocal x
            print('value of low fuc',x)
        low()
        print('value of  semi',x)
    semi()
    print('value of main',x)
main()

value of low fuc 34
value of  semi 34
value of main 34

In [2]:
def main():
    x=34
    def semi():
        nonlocal x
        def low():
            nonlocal x
            print('value of low fuc',x)
        low()
        print('value of  semi',x)
    semi()
    print('value of main',x)
main()

value of low fuc 34
value of  semi 34
value of main 34

# Python Function Arguments

The arguments is a value, variable or an object that we pass to a function or method call. In python there are four types of arguments method

1. Positional arguments
2. Keyword arguments
3. default arguments 
4. variable-lenght arguments

### What is Function arguments
  (parameter)

def my_sum(a,b): function returns a+b defination function call my_sum(10,20) (arguments)

Parameters are mentioned in the function defination.Actual parameters are passed during function call

## Positional  argument

Positional arguments are argument that are pass to function in proper positional order

In [1]:
def add(a,b):
    print(a-b)
add(50,10)
add(10,50)

40
-40

In [2]:
def add(a,b):
    print(b-a)
add(50,10)
add(10,50)

-40
40

## Keyword arguments
 
a keyword argument is an argument value passed to function by the variable name and equals sign

In [20]:
def message(name,surname):
    print('hello', name,surname)
message(name='john',surname= 'willson')
message(surname='ault',name='kelly')


message('john','wilson') # you have made it positional
message('wilson','john')

hello john willson
hello kelly ault
hello john wilson
hello wilson john

In [21]:
def message(name,surname):
    print('hello', name,surname)
message(name='john',surname= 'willson')
message(surname='ault',name='kelly')

hello john willson
hello kelly ault

- In keyword arguments order of argument is not matter, but the number of argumnets must match otherwise , we will get an error 

- While using keyword and positional arguments simultaneously , we need to pass 1st argument  as positional arguments  and then keyword arguments . Otherwise , we will get syntaxError .See the folloewing example

In [23]:
def message(first_nm,last_nm): 
    print('hello..!', first_nm, last_nm)
    
# correct use

message('Roopali', 'Disha')
message('Roopali',last_nm='Disha')

# Error 
#syntaxError: Positional argument follows keyword argument
message(first_nm='Roopali',"Disha")

SyntaxError: positional argument follows keyword argument (2390011796.py, line 11)

In [22]:
def message(first_nm,last_nm): 
    print('hello..!', first_nm, last_nm)
    
# correct use


message('Roopali',last_nm='Disha')

hello..! Roopali Disha

## Default arguments
In function arguments can have defualt  values. we assign default values to the arguments using the '='(assignment)operatorat the time  of function defination .You can define a function with any number of default arguments

 def my_sum(a,b,d,d=40):
    return a+b+c+d
function call my_sum(10,20,c=30)
       
positional argument values get assignment as per sequence

In [4]:
def my_sum(a,b,c,d=40):
    return a+b+c+d
my_sum(10,20,c=30)

100

In [5]:
def my_sum(a,b,c,d=40):
    return a+b+c+d

my_sum(10,20,c=30,30)

SyntaxError: positional argument follows keyword argument (2585356342.py, line 4)

In [6]:
def my_sum(a,b,c,d=40):
    return a+b+c+d

my_sum(10,20,40,90) # it will prefer the argument value on the default value if both given

160

In [7]:
def my_sum(a,b,c,d=40):
    return a+b+c+d

my_sum(10,20,40,c=30)

TypeError: my_sum() got multiple values for argument 'c'

In [8]:
def my_sum(a,b,c,d=40):
    return a+b+c+d

my_sum(a=90,20,30,c=30)

SyntaxError: positional argument follows keyword argument (47472727.py, line 4)

In [9]:
def my_sum(a,b,c,d=40):
    return a+b+c+d

my_sum(a=20,30,90)

SyntaxError: positional argument follows keyword argument (1648503230.py, line 4)

In [3]:
def stu(name,grade=5,classs):
    print(name,classs, grade)

SyntaxError: non-default argument follows default argument (1765401579.py, line 1)

### Important points to remember about function arguments

1. Default arguments should follow no-default arguments

In [24]:
def get_student(name,grade='five',age):
    print(name,age,grade)
    
#output: syntaxError: non-default arguments follows default arguments

SyntaxError: non-default argument follows default argument (1016695614.py, line 1)

2. Keyword argument should follow positional arguments only

In [25]:
def get_student(name,age,grade):
    print(name,age,grade)

get_student(name='jeevan',12,'six')
# output: SyntaxError: positional argument follows keyword argument

SyntaxError: positional argument follows keyword argument (1075915977.py, line 4)

3. The order of keyword arguments is not impotant, but All the keywords arguments passed must match one of the arguments accepted by the function

In [26]:
def get_student(name,age,grade):
    print(name,age,grade)
    
get_student(grade='six',name='Joshi',age=12)
# output: Joshi 12 six

get_student(name='joshi',age=12,standard='six')

# output: TypeError: get_student() got an unexpexted keyword argument 'standard'

Joshi 12 six

TypeError: get_student() got an unexpected keyword argument 'standard'

4. No argument should revieve a value more than once

In [27]:
def student(name,age,grade):
    print('student details',name,grade,age)

student(name='jeevan',age=12,grade='six',age=12)
#output: syntax error: keyword arguments repeated

SyntaxError: keyword argument repeated: age (477746249.py, line 4)

# variable- lenght arguments 

In pyhton, somtimes , there is a situation where we need to pass mutliple no. of arguments to the function

### Types of arbitary Arguments 

- arbitary positional arguments (*args)
- arbitary keyword argumenst (**kwargs)

### Arbitary positional arguments(*args)

We can declare a variable-lenght argument with thw *(abstrisk) symbol .Place an asterisk(*) before the parameter in the function defination to define an arbitary positional argument

In [5]:
def percentage(s1,s2,s3):
    avg= (s1+s2+s3)/3
    print('Average=', avg)

percentage(12,34,12)

Average= 19.333333333333332

In [6]:
def percentage(s1,s2,s3):
    avg= (s1+s2+s3)/3
    print('Average=', avg)

percentage(12,34,12,10)  # we can add more than three arguments

TypeError: percentage() takes 3 positional arguments but 4 were given

In [3]:
def percentage(*args): # *args can be return as *asd, *adqd anything
    sum=0
    for i in args:
        sum=sum+i
    
    avg=sum/len(args)
    print('Average=', avg)
    
percentage(12,234,65,34,21)

Average= 73.2

In [16]:
def square(*s):
    sq=0
    for i in s:
        sq+=i
        squ=sq**2
        print('square of',sq,'=',squ)
square(2,3,4)

square of 2 = 4
square of 5 = 25
square of 9 = 81

In [15]:
def square(*s):
    sq=0
    for i in s:
        sq+=i
        squ=sq**2
        print('square of',sq,'=',squ)
square(2,3,4)
print('square of whole=',squ)

square of 2 = 4
square of 5 = 25
square of 9 = 81

NameError: name 'squ' is not defined

### Arbitary keyword arguments(**kwargs)

We saw to use *args. Now let see how to use the **kwargs arguments. the **kwargs allow you to pass multiple keywords arguments to a function . use the **kwargs if you want to handle named arguments in a function

Use the unpacking operator(**) to define variables-length  keywords

In [17]:
def acess(**k):
    for i in k:
        key=i
        value=k[key]
        print(key,'=',value)
        
acess(age=23,name='pawan',status='live')

age = 23
name = pawan
status = live

In [8]:
def percentage(**kwargs):
    sum=0
    for sub in kwargs:
        sub_name=sub
        sub_marks=kwargs[sub]
        print(sub_name,'=',sub_marks)

# pass multiple keyword arguments 
percentage(math=56,english=61,science=73)

math = 56
english = 61
science = 73

In [27]:
def percentage(**kwargs):
    sum=0
    for sub in kwargs:
        sub_name=sub
        sub_marks=kwargs[sub]
        print(sub_name,'=',sub_marks)
        sum+=1
        print(sum)
# pass multiple keyword arguments 
percentage(math=56,english=61,science=73)

math = 56
1
english = 61
2
science = 73
3

In [38]:
def percentage(a,b,c):
    sum=0
    for sub in kwargs:
        sub_name=sub
        sub_marks=kwargs[sub]
        print(sub_name,'=',sub_marks)

# pass multiple keyword arguments 
percentage(dict(math:56))

SyntaxError: invalid syntax (1976600604.py, line 9)

In [9]:
person={'name':'jyoti','country':"USA",'telephone':1178}

print(person['name'])

jyoti

In [7]:
def learn(**person):
    for i in person:
        key=i
        value=person[i]
        print(key,'=',value)
learn(number=23,name='pawan')

number = 23
name = pawan

In [8]:
type(person)

dict

## Python Anonymous/lambda Fucntion

Sometimes we need to declare  a function without any name . the nameless property function is called an  anonymous lambda function 

Syntax of lambda function;

lambda:argument_list:expression

In [13]:
def ev(lis):
    even_no=[]
    for i in lis:
        if i%2==0:
            even_no.append(i)
    return even_no

even_no=ev([12,3,44,45,78,65])
print(even_no)

[12, 44, 78]

In [1]:
l=[10,5,12,78,6,1,7,9]
even_nos=list(filter(lambda x: x%2==0,l)) # list is written becausse we want answer in list
print('even numbers are:',even_nos)

even numbers are: [10, 12, 78, 6]

In [18]:
l=[10,5,12,78,6,1,7,9]
even_nos=tuple(filter(lambda x: x%2==0,l)) # tuple is written becausse we want answer in tuple
print('even numbers are:',even_nos)

even numbers are: (10, 12, 78, 6)

In [19]:
l=[10,5,12,78,6,1,7,9]
even_nos=set(filter(lambda x: x%2==0,l)) # set is written becausse we want answer in set
print('even numbers are:',even_nos)

even numbers are: {10, 12, 78, 6}

In [20]:
l=(10,5,12,78,6,1,7,9) # l is tuple
even_nos=list(filter(lambda x: x%2==0,l))
print('even numbers are:',even_nos) # answer came in list

even numbers are: [10, 12, 78, 6]

## Filter() function in python

In python filter function is used to return filter values. we use this function to filter values based on some codition

Syntax of filter() function:

filter(function,sequence) where,

- function - Function argument is responsible for performing condition checking.
- Sequence  -Sequence argument can be  anything like list, tuple, string
- Example: lambda function with filter

In [10]:
string='shrutttiii'
i_only=list(filter(lambda x: x=='i', string))
print(i_only)

['i', 'i', 'i']

In [12]:
string='shrutttiii'
i_only=tuple(filter(lambda x: x=='i', string)) # tuple answer will be in tuple
print(i_only)

('i', 'i', 'i')

In [11]:
string='shrutttiii'
i_only=list(map(lambda x: x=='i', string))
print(i_only)

[False, False, False, False, False, False, False, True, True, True]

### map() function in python

In python map() functon  is used to apply some functionality for every element present in the given sequence and generate a new series with a required modificaton.


Syntax of map() function:
map(function,sequence)

where;
   - function - function argument responsible for applied on each elements of the sequence
   - Sequence - Sequence argument can be anything like list, tuple, string

In [13]:
list1=[2,3,4,8,9]
list2=list(map(lambda x:x*x*x, list1))
print('cube values are', list2)

cube values are [8, 27, 64, 512, 729]

## reduce() function in python

In python, the reduce() function is used to minimize  the sequence elements into a single value by applying the specific condition.

The reduce() function is present in the functools module: hence we need to import it using the import statement before using it 

Syntax o reduce() function:

reduce(function,sequence)

example: lambda function with reduce()

In [19]:
from functools import reduce
list1=[20,13,4,8,9]
add= reduce(lambda x,y: x+y , list1)
print("Additionof all list elements is:", add)

Additionof all list elements is: 54

In [ ]:
from functools import reduce

In [25]:
from functools import reduce
list1=[20,13,4,8,9]
add= reduce(lambda x,y: x and y , list1)
print("Addition of all list elements is:", add)

#output is 9 becuase and give the last numerical if applied in number

Addition of all list elements is: 9

In [26]:
from functools import reduce
list1=[20,13,4,8,9]
add= reduce(lambda x,y: x or y , list1)
print("Addition of all list elements is:", add) 

#output is 20 because or gives 1st numerical if applied in numbers

Addition of all list elements is: 20

In [23]:
def print_pattern(num_rows):
    for i in range(num_rows):
        for num_cols in range(num_rows-i):
            print("*",end="") # why this print()
        print() # why this print()

In [24]:
print_pattern(4)

****
***
**
*

In [15]:
def print_pattern(num_rows):
    for i in range(num_rows):
        for num_cols in range(num_rows-i):
            print("*",end="") # why this print()
        print('x')
print_pattern(3)

***x
**x
*x

In [18]:
def print_pattern(num_rows):
    for i in range(num_rows):
        for num_cols in range(num_rows-i):
            print("*") # why this print()
        print()
        
print_pattern(3)

*
*
*

*
*

*

In [35]:
def print_pattern(num_rows):
    for i in range(num_rows):
        for num_cols in range(num_rows-i):
            print("**") # why this print()
        print()
        
print_pattern(4)

**
**
**
**

**
**
**

**
**

**

In [48]:


def remover():
    a=[10,20,10,30,10,20,30,10,20,20,45]
    while a.count(10)>0:
        a.remove(10)
    return a

remover()

[20, 30, 20, 30, 20, 20, 45]

In [52]:
a=[10,20,10,30,10,20,30,10,20,20,45]
def remover(a):
    
    while a.count(10)>0:
        a.remove(10)
    return a

remover()

TypeError: remover() missing 1 required positional argument: 'a'

In [65]:
def get_first_even(seq):
    for i in seq:
        if i%2==0:
            return i
        else:
            print('xyz') 
    
    
get_first_even([13,25,16,8,2,4])

xyz
xyz

16

In [66]:
def get_first_even(seq):
    for i in seq:
        if i%2==0:
            return i
        else:
            print('xyz') 
    
    
get_first_even([13,25,16,8,2,4])

xyz
xyz

16

In [67]:
def get_first_even(seq):
    for i in seq:
        if i%2==0:
            break
        else:
            print('xyz') 
    
    
get_first_even([13,25,16,8,2,4])

xyz
xyz

In [12]:
def mean(a):
    x=sum(a)/len(a)
    return x
v=mean([1,2,3,10,11,13,16])
print(v)

def mode(a):
    for i in a:
        if a.count(i)=max
        
        
def median(a):
    for i in a:
        if len(a)%2==0:
            print((len(a)/2+len(a)/2+1)/2)
        else:
            len(a)%2!==0
            print((len(a)+1)/2)

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3906634493.py, line 9)

In [20]:
def median(a):
    for i in a:
        if len(a)%2==0:
            M=(len(a)/2+len(a)/2+1)/2
            print(a[M])
        else:
            len(a)%2!=0
            M1=(len(a)+1)/2 # it should be flor division to avoid decimal points 
            print(a[M1])
            
        break
        
x=median([10,20,10,20,25,35,10,15,20])

TypeError: list indices must be integers or slices, not float

In [24]:
def median(a):
    for i in a:
        if len(a)%2==0:
            M=(len(a)/2+len(a)/2+1)//2
            print(a[M])
        else:
            len(a)%2!=0
            M1=(len(a)+1)//2
            print(a[M1])       # index should bw fixed c/z is starts counting from 0 in indexing 
            
        break
        
x=median([10,20,10,20,25,35,10,15,20])

35

In [ ]:
def mode(a):
    for i in a:

In [33]:
l=[1,2,1,1,3,35,5,2,21,1,1,1,2,2,3,3,4,7,98,9,9,90,76,56,555,4,3,3,2,1,2]

for i in l:
    for a in i:
        i.count(a)
        print(a>5)

TypeError: 'int' object is not iterable

## Final

In [25]:
def median(a):
    for i in a:
        if len(a)%2==0:
            M=(len(a)/2+len(a)/2+1)//2
            print(a[M-1])
        else:
            len(a)%2!=0
            M1=(len(a)+1)//2
            print(a[M1-1])
            
        break
        
x=median([10,20,10,20,25,35,10,15,20])

25

In [26]:
def mean(a):
    x=sum(a)/len(a)
    return x
v=mean([10,20,10,20,25,35,10,15,20])
print(v)

18.333333333333332

In [ ]:
def mode(a):