# Python variables

### -Variables are used to store values 
    - values always written in "" comas  ex- "pawan" or 'pawan'

In [1]:
name="PAWAN "     # name is a variable, Storing a value PAWAN

## Rule 1 - it can be only one word

In [3]:
name= "pawan" 
print(name)

pawan

In [25]:
my name="pawan"           # in this there are two variables (my) (name)   # or we can't use sapce b/w variables
print(my name)

SyntaxError: invalid syntax (3299753293.py, line 1)

## Rule 2 
- It can use only letters, numbers, and the underscore (_) character  
- no special characters

In [8]:
my_name="pawan singh"
print(my_name)

pawan singh

In [9]:
my@name="pawan"            # no special characters
print(my@name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4034441769.py, line 1)

In [10]:
@name="pawan"
print(name)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1018091339.py, line 1)

In [14]:
name1="pawan"
name_1='pawan'
name_1y="singh"
print(name1)
print(name_1)
print(name_1y)

pawan
pawan
singh

### Rule 3 - can't begin with numbers

 ### -      but can end with a number

In [15]:
1name="pawan"
print(1name)

SyntaxError: invalid decimal literal (2765833570.py, line 1)

In [16]:
name1="pawan"
print(name1)

pawan

In [17]:
1_name="pawan"
print(1_name)

SyntaxError: invalid decimal literal (2191187317.py, line 1)

In [19]:
x_1="pawan"
print(x_1)

pawan

### Rule 4 -Variable name starting with an underscore (_) are considered as “unuseful”.

In [20]:
_name='pawan'
print(_name)

pawan

In [21]:
__variable="value"
print(__variable)

value

In [1]:
x=15
print(x)

15

# Memory/ Address

In [2]:
x=10

In [3]:
id(x)

140725265929288

In [4]:
y=10

In [5]:
id(y)

140725265929288

In [6]:
y=15
id(y)

140725265929448

In [7]:
p="pawan"

In [8]:
id(p)

1712273859824

In [9]:
p="jfgd"

In [10]:
id(p)

1712273877552

In [12]:
id(y)

140725265929448

In [18]:
x=10
y=11
z=x
a=b=z

In [14]:
id(x)

140725265929288

In [15]:
id(z)

140725265929288

In [16]:
id(y)

140725265929320

In [22]:
id(a);id(y)

140725265929320

In [24]:
print (id(a));print(id(b))

140725265929288
140725265929288

In [26]:
print(id(a),id(b),id(z))

140725265929288 140725265929288 140725265929288

In [27]:
id(10)

140725265929288

In [28]:
id(234)

140725265936456

In [22]:
$=10                    # c/z special character do not used in variables
print(id($))

SyntaxError: invalid syntax (3237760806.py, line 1)

In [30]:
@=14
print(id(@))

SyntaxError: invalid syntax (486422336.py, line 1)

### variables can't be no.

In [31]:
1=15                    # variables can't be no.
print(1)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1771786479.py, line 1)

In [32]:
print(id(1))

140725265929000

In [34]:
pawan=-15
print(pawan)

-15

In [35]:
id(pawan)

1712287302576

In [36]:
id(-15)

1712287302832

In [44]:
total_cars=90
print(total_cars)

90

In [43]:
S=15

In [45]:
total=20
Total=15
TOTAL=17
print(total)
print(Total)
print(TOTAL)

20
15
17