# List comprehension

In [1]:
a=[1,12,3,14,5,16,7,18,9,20]
b=[]
for i in a:
    if i>10:
        b.append(i)
print(b)

[12, 14, 16, 18, 20]

In [4]:
a=[1,12,3,14,5,16,7,18,9,20]
c=[i for i in a if i>10]  # first i is working as i 
print(c)

[12, 14, 16, 18, 20]

In [4]:
a=['apple','kiwi','mango','papaya','bnana','cheeku','grapes','seetafal','sareefa','strawberry','bigen','avacado']
b=[i for i in a if 'a' not in i ]
print(b)

['kiwi', 'cheeku', 'bigen']

In [3]:
a=['apple','kiwi','mango','papaya','bnana','cheeku','grapes','seetafal','sareefa','strawberry','bigen','avacado']
b=[i for i in a if 'a' not in i ]
print(b)
print(i)

['kiwi', 'cheeku', 'bigen']

NameError: name 'i' is not defined

In [1]:
a=['apple','kiwi','mango','papaya','bnana','cheeku','grapes','seetafal','sareefa','strawberry','bigen','avacado']
b=[i for i in a if 'a' in i and len(i)>6 ]
print(b)

['seetafal', 'sareefa', 'strawberry', 'avacado']

In [2]:
a=['apple','kiwi','mango','papaya','bnana','cheeku','grapes','seetafal','sareefa','strawberry','bigen','avacado']
b=[i for i in a if 'a' in i if  len(i)>6 ]
print(b)

['seetafal', 'sareefa', 'strawberry', 'avacado']

In [4]:
a=['apple','kiwi','mango','papaya','bnana','cheeku','grapes','seetafal','sareefa','strawberry','bigen','avacado']
b=[i for i in a if 'a' in i if  len(i)<6 ]
print(b)

['apple', 'mango', 'bnana']

In [6]:
a=['apple','kiwi','mango','papaya','bnana','cheeku','grapes','seetafal','sareefa','strawberry','bigen','avacado']
b=[i for i in a if 'a'not in i if  len(i)<6 ]
print(b)

['kiwi', 'bigen']

In [9]:
a=['apple','kiwi','mango','papaya','bnana','cheeku','grapes','seetafal','sareefa','strawberry','bigen','avacado']
b=[i for i in a if 'a'not in i or  len(i)>6 ]
print(b)

['kiwi', 'cheeku', 'seetafal', 'sareefa', 'strawberry', 'bigen', 'avacado']

In [13]:
a=[1,2,23,22,44,56,23,11,23,4]
b=[i for i in a if i%2==0 y.append(i) and i%2==1 x.append(i) ]
y=[]
x=[]

SyntaxError: invalid syntax (3599052356.py, line 2)

# Tuple comprehension

In [ ]:
c='a','b','c','d'
a={i }

# Dictionary Comprehension

In [14]:
a=(1,2,3,4,5,6)
b=('a','b','c','d','e')
c={x:y for x in a for y in b}
print(c)

{1: 'e', 2: 'e', 3: 'e', 4: 'e', 5: 'e', 6: 'e'}

In [ ]:
a=(1,2,3,4,5,6)
b=('a','b','c','d','e')
c{a:b for a,b in }

In [ ]:
telephone_dict={key:value for key,value in zip(person,telephone_book)}

In [ ]:
output_dict={x:x**2 for x in numbers if x%2==0}

In [19]:
a=(1,2,3,4,5,6)
b=('a','b','c','d','e')
c={x:f'value x is{x}' for x in a}
print(c)

{1: 'value x is1', 2: 'value x is2', 3: 'value x is3', 4: 'value x is4', 5: 'value x is5', 6: 'value x is6'}

In [21]:
d={c[x]:x for x  in a}

print(d)

{'value x is1': 1, 'value x is2': 2, 'value x is3': 3, 'value x is4': 4, 'value x is5': 5, 'value x is6': 6}

In [5]:
list1=[1,2,3,4,5,6,7,8]
def even():
    c=[i for i in list1 if i%2==0]
    print(c)
    
even()

[2, 4, 6, 8]

In [9]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10,11]

def even(a,b):
    c=[i for i in list1+list2 if i%2==0]
    print(c)

even(list1,list2)

[2, 4, 6, 8, 10]

In [11]:
list1=[1,2,3,4,5,6,7,8,9,10]
list0=[]
list_1=[]
def even_odd():
    for i in list1:
        if i%2==0:
            list0.append(i)
            print(i)
        else:
            list_1.append(i)
            print(i)
even_odd()

1
2
3
4
5
6
7
8
9
10