In [1]:
class computer:
    def __init__(self,ram,rom,cpu):
        self.ram=ram
        self.rom=rom
        self.cpu=cpu
    def config(self):
        print('config is',self.ram,self.rom,self.cpu)
        
com1=computer('16gb','1tb','i5')
com1.config()

config is 16gb 1tb i5

In [2]:
class computer:
    def __init__(self):
        self.name='pawan'
        self.cpu='i5'
    
    
com1=computer()
com2=computer()

print(com1.name)
print(com2.name)

pawan
pawan

In [4]:
class computer:
    def __init__(self):
        self.name='pawan'
        self.cpu='i5'
    
    
com1=computer()
com1.name='rashi'
com2=computer()

print(com1.name)
print(com2.name)

rashi
pawan

In [21]:
class person:
    def __init__(self,name,age):
        self.name='pawan'
        self.age=23
    def update(self):
        age=35
        print(self.name,self.age)
        
P1=person('woow','12')
P1.update()

pawan 23

In [24]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def update(self):
        age=35
        print(self.name,self.age)
        
P1=person('woow','12')
P1.update()

woow 12

In [30]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def update(self):
        self.age=35
        print(self.name,self.age)
        
P1=person('woow',12)
P1.update()

P2=person('hariraam',90)
P2.update()

woow 35
hariraam 35

In [40]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def update(self):
        self.age=35
        print(self.name,self.age)
        
    def compare(self,P2):
        if self.age==P2:
            print('both are same')
        else:
            print('both are not same')
    
P1=person('woow',12)
P1.update()

P2=person('hariraam',90)
P2.update()

P1.compare(P2)

woow 35
hariraam 35
both are not same

In [41]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def update(self):
        self.age=35
        print(self.name,self.age)
        
    def compare(self,P2):
        if self.age==P2.age:
            print('both are same')
        else:
            print('both are not same')
    
P1=person('woow',12)
P1.update()

P2=person('hariraam',90)
P2.update()

P1.compare(P2)
P2.compare(P1)

woow 35
hariraam 35
both are same
both are same

In [43]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def update(self):
        self.age=35
        print(self.name,self.age)
        
    def compare(self,others):
        if self.age==others.age:
            print('both are same')
        else:
            print('both are not same')
    
P1=person('woow',12)
P1.update()

P2=person('hariraam',90)
P2.update()

P1.compare(P2)

woow 35
hariraam 35
both are same

In [44]:
class student:
    school='DAV'
    
    def __init__(self,M1,M2,M3):
        self.M1=M1
        self.M2=M2
        self.M3=M3
    def average(self):
        avg=M1+M2+M3/3 # wrong 2 mistakes
        print('average of marks is =',avg)
        
rahul=student(40,30,50)
rahul.average()

NameError: name 'M1' is not defined

In [46]:
class student:
    school='DAV'
    
    def __init__(self,M1,M2,M3):
        self.M1=M1
        self.M2=M2
        self.M3=M3
    def average(self):
        avg=self.M1+self.M2+self.M3/3 # mistake on writing division
        print('average of marks of',self, 'is =',avg)
        
rahul=student(40,30,50)
rahul.average()

average of marks of <__main__.student object at 0x000001426C876310> is = 86.66666666666667

In [48]:
class student:
    school='DAV'
    
    def __init__(self,name,M1,M2,M3):
        self.n=name
        self.M1=M1
        self.M2=M2
        self.M3=M3
    def average(self):
        avg=self.M1+self.M2+self.M3/3 # mistake on writing devision
        print('average of marks of',self.n, 'is =',avg)
        
rahul=student('rahul gandhi',40,30,50)
rahul.average()

average of marks of rahul gandhi is = 86.66666666666667

### correct one

In [49]:
class student:
    school='DAV'
    
    def __init__(self,name,M1,M2,M3):
        self.n=name
        self.M1=M1
        self.M2=M2
        self.M3=M3
    def average(self):
        avg=(self.M1+self.M2+self.M3)/3
        print('average of marks of',self.n, 'is =',avg)
        
rahul=student('rahul gandhi',40,30,50)
rahul.average()

average of marks of rahul gandhi is = 40.0

In [50]:
class student:
    school='DAV'
    
    def __init__(self,name,M1,M2,M3):
        self.n=name
        self.M1=M1
        self.M2=M2
        self.M3=M3
    def average(self):
        return (self.M1+self.M2+self.M3)/3
        print('average of marks of',self.n, 'is =',avg) # now print is not working
        
rahul=student ('rahul gandhi',40,30,50)
rahul.average()

40.0

In [51]:
class student:
    school='DAV'
    
    def __init__(self,name,M1,M2,M3):
        self.n=name
        self.M1=M1
        self.M2=M2
        self.M3=M3
    def average(self):
        return (self.M1+self.M2+self.M3)/3
       
        
rahul=student('rahul gandhi',40,30,50)
rahul.average()

40.0

In [57]:
class student:
    school='DAV'
    
    def __init__(self,M1,M2,M3):
        self.M1=M1
        self.M2=M2
        self.M3=M3
    def average(self):
        return (self.M1+self.M2+self.M3)/3
    def get_M3(self):
        return self.M3
    
        
rahul=student(40,30,50)
rahul.average()  
print(rahul.get_M3())

50

In [58]:
class student:
    school='DAV'
    
    def __init__(self,M1,M2,M3):
        self.M1=M1
        self.M2=M2
        self.M3=M3
    def average(self):
        return (self.M1+self.M2+self.M3)/3
    def get_M3(self):
        return self.M3
    
        
rahul=student(40,30,50)
print(rahul.average())  
print(rahul.get_M3())

40.0
50

In [62]:
class student:
    school='DAV'
    
    def __init__(self,M1,M2,M3):
        self.M1=M1
        self.M2=M2
        self.M3=M3
    def average(self):
        return (self.M1+self.M2+self.M3)/3
    def get_M3(self):
        return self.M3
    def set_value(self,value):
        self.M1=value
    
        
rahul=student(40,30,50)
print(rahul.average())  
print(rahul.get_M3())
print(rahul.set_value(100)) # none because no visible output nothing to show on print

40.0
50
None

In [66]:
class student:
    school='DAV'
    
    def __init__(self,M1,M2,M3):
        self.M1=M1
        self.M2=M2
        self.M3=M3
    def average(self):
        return (self.M1+self.M2+self.M3)/3
    def get_M3(self):
        return self.M3
    def set_value(self,value):
        self.M1=value
    
        
rahul=student(40,30,50)
print(rahul.average())  # output 40
print(rahul.get_M3())
rahul.set_value(100)
print(rahul.average()) # output 60

40.0
50
60.0

In [67]:
class student:
    school='DAV'
    
    def __init__(self,M1,M2,M3):
        self.M1=M1
        self.M2=M2
        self.M3=M3
    def average(self):
        return (self.M1+self.M2+self.M3)/3
    @classmethod
    def info(cls):
        print(cls.school)

s1=student()
s1.info()

TypeError: student.__init__() missing 3 required positional arguments: 'M1', 'M2', and 'M3'

In [69]:
class student:
    school='DAV'
    
    def __init__(self,M1,M2,M3):
        self.M1=M1
        self.M2=M2
        self.M3=M3
    def average(self):
        return (self.M1+self.M2+self.M3)/3
    @classmethod
    def info(cls):
        print(cls.school)
        
rahul=student(40,30,50)
rahul.average() # you have to write print if you are using more than one function if you want output of both the function

rahul.info()

DAV

# Class method

In [1]:
class student:
    school='DAV'
    
    def __init__(self,M1,M2,M3):
        self.M1=M1
        self.M2=M2
        self.M3=M3
    def average(self):
        return (self.M1+self.M2+self.M3)/3
    @classmethod
    def info(cls):
        return cls.school
        
rahul=student(40,30,50)
print(rahul.average())

print(rahul.info())

40.0
DAV

In [2]:
a=4
print(print(a))

4
None

# static method

In [1]:
class student:
    school='DAV'
    
    def __init__(self,M1,M2,M3):
        self.M1=M1
        self.M2=M2
        self.M3=M3
    def average(self):
        return (self.M1+self.M2+self.M3)/3
    @classmethod
    def info(cls):
        print(cls.school)
        
    @staticmethod
    def static():
        print('rahul goes to school')
        
rahul=student(40,30,50)
print(rahul.average())

print(rahul.info())

print(rahul.static())

40.0
DAV
None
rahul goes to school
None

# Class inside Class

In [9]:
class student:
    def __init__(self,name,roll_no):
        self.name=name
        self.roll_no=roll_no
        self.lap=self.Laptop()

    def show(self):
        print(self.name,self.roll_no)
        self.lap.show()
    
    class Laptop:
        def __init__(self):
            self.brand='HP'
            self.cpu='i5'
            self.ram=8
        def show(self):
            print(self.brand,self.cpu,self.ram)

s1=student('Naveen',2)
s2=student('pawan',45)

s1.show()
s2.show()

lap1=student.Laptop()
lap1.show()

Naveen 2
HP i5 8
pawan 45
HP i5 8
HP i5 8

In [8]:
class student:
    def __init__(self,name,roll_no):
        self.name=name
        self.roll_no=roll_no
        self.lap=self.Laptop()

    def detail(self):
        print(self.name,self.roll_no)
        self.lap.show()
    
    class Laptop:
        def __init__(self):
            self.brand='HP'
            self.cpu='i5'
            self.ram=8
        def show(self):
            print(self.brand,self.cpu,self.ram)

s1=student('Naveen',2)
s2=student('pawan',45)
s1.detail()

Naveen 2
HP i5 8

# Inheritance

### Single Inheritance

In [2]:
class A:
    def feature1(self):
        print('feature1 working')
    def feature2(self):
        print('feature2 working')
        
a1=A()
a1.feature1()
a1.feature2()

feature1 working
feature2 working

In [3]:
class A:
    def feature1(self):
        print('feature1 working')
    def feature2(self):
        print('feature2 working')
        
a1=A
a1.feature1
a1.feature2

In [3]:
class A:
    def feature1(self):
        print('feature1 working')
    def feature2(self):
        print('feature2 working')
        
class B(A):
    def feature3(self):
        print('feature3 working')
    def feature4(self):
        print('feature4 working')
        
b1=B()
b1.feature1() # B is a child class of A so it can access the feature of class A

feature1 working

In [4]:
class A:
    def feature1(self):
        print('feature1 working')
    def feature2(self):
        print('feature2 working')
        
class B(A):
    def feature3(self):
        print('feature3 working')
    def feature4(self):
        print('feature4 working')
        
a1=A()
a1.feature3() # bur class A cant access the feature of  class B

AttributeError: 'A' object has no attribute 'feature3'

### Multilevel Inheritance

In [5]:
class A:
    def feature1(self):
        print('feature1 working')
    def feature2(self):
        print('feature2 working')
        
class B(A):
    def feature3(self):
        print('feature3 working')
    def feature4(self):
        print('feature4 working')
        
class C(B):
    def feature5(self):
        print('feature5 is working')
        
c1=C()
c1.feature3()
c1.feature1()  # class C can access the feature of Class A and Class B both 

b1=B()
b1.feature2() # can access the feature of A butcan not access the feature of C
b1.feature5()

feature3 working
feature1 working
feature2 working

AttributeError: 'B' object has no attribute 'feature5'

### Multiple Inheritance

In [2]:
class A:
    def feature1(self):
        print('feature1 working')
    def feature2(self):
        print('feature2 working')
        
class B():
    def feature3(self):
        print('feature3 working')
    def feature4(self):
        print('feature4 working')
        
class C(A,B):
    def feature5(self):
        print('feature5 is working')

class D(C):
    def feature6(self):
        print('feature6 is running')
c2=C()
c2.feature1()
c2.feature4() # c2 can access the feture of both the class A and B but here B cann't access the 
                # feature of A

e=D()
e.feature1()

f=B()
f.feature6()

feature1 working
feature4 working
feature1 working

AttributeError: 'B' object has no attribute 'feature6'

#

In [ ]:
class A:
    def feature1(self):
        print('feature1 working')
    def feature2(self):
        print('feature2 working')
        
class B(A):
    def feature3(self):
        print('feature3 working')
    def feature4(self):
        print('feature4 working')
        
class C(A):
    def feature5(self):
        print('feature5 is working')

In [6]:
class A:
    def __init__(self):
        print('In A init')
    def feature1(self):
        print('feature1 working')
    def feature2(self):
        print('feature2 working')
        
class B(A):
    def feature3(self):
        print('feature3 working')
    def feature4(self):
        print('feature4 working')

a1=B() # object of B is calling constructor of A

In A init

If you create object of sub class it will try find init of sub class if it is not found then it will  call init of super class

In [9]:
class A:
    def __init__(self):
        print('In A init')
    def feature1(self):
        print('feature1 working')
    def feature2(self):
        print('feature2 working')
        
class B(A):
    def __init__(self):
        print("In B init")
    def feature3(self):
        print('feature3 working')
    def feature4(self):
        print('feature4 working')
    
a1=B() # now B has its own constructor

In B init

### super().

The super() function is used to refer to parent class

In [10]:
class A:
    def __init__(self):
        print('In A init')
    def feature1(self):
        print('feature1 working')
    def feature2(self):
        print('feature2 working')
        
class B(A):
    def __init__(self):
        super().__init__() # Now we can access the constructor of both the class 
        print("In B init")
    def feature3(self):
        print('feature3 working')
    def feature4(self):
        print('feature4 working')
    
a1=B()

In A init
In B init

In [12]:
class A:
    def __init__(self):
        print('In A init')
    def feature1(self):
        print('feature1 working')
    def feature2(self):
        print('feature2 working')
        
class B(A):
    def __init__(self):
        super().__init__() # Now we can access the constructor of both the class 
        print("In B init")
    def feature3(self):
        print('feature3 working')
    def feature4(self):
        print('feature4 working')
    
a1=A() # but  object of class A can't access the constructor of Class B

In A init

In [14]:
class A:
    
    def feature1(self):
        print('feature1 working')
    def feature2(self):
        print('feature2 working')
        
class B:
   
    def feature3(self):
        print('feature3 working')
    def feature4(self):
        print('feature4 working')
    def feat(self):
        super().feature2()

    
    
        
c1=B()
c1.feature1()

AttributeError: 'B' object has no attribute 'feature1'

##  MRO( Method resolution order)

In [1]:
class A:
    def __init__(self):
        print('In A init')
    def feature1(self):
        print('feature1 working')
    def feature2(self):
        print('feature2 working')
        
class B():
    def __init__(self):
        print("In B init")
    def feature3(self):
        print('feature3 working')
    def feature4(self):
        print('feature4 working')
    
class C(A,B):
    def __init__(self):
        super().__init__() # it is calling the constructor of A not B 
        print('In C init')
        
c1=C()

In A init
In C init

In [5]:
class A:
    def __init__(self):
        print('In A init')
    def feature1(self):
        print('feature 1-A working')
        
class B():
    def __init__(self):
        print("In B init")
    def feature1(self):
        print('feature 1-B working')


class C(A,B):
    def __init__(self):
        print('In C init')
    
a1=C()
a1.feature1() # calling the method of class A

In C init
feature 1-A working

## Polymorphism

Poly- (MANY)

Morph -(FROM)


One thing behvaing differently

#### Four ways of implementing the Polymorphism 

- Duck Typing
- Operator Overloading
- Method Overloading 
- Method Overriding

#### Duck Typing

In [2]:
class pycharm:
    def execute(self):
        print('compiling')
        print('Running')

class Laptop:
    def code(self, ide):
        ide.execute()

        
ide=pycharm()

lap1=Laptop()
lap1.code(ide)

compiling
Running

In [3]:
class ninja:
    def full(self):
        print('hey')
        print('there')
class person:
    def quality(self,ide):
        ide.full()

ide=ninja()

p1=person()
p1.quality(ide)

hey
there

In [7]:

class Myeditor:
    def execute(self):
        print('spell check')
        print('covention check')
        print('Compiling')
        print('Running')
        
        
class Laptop:
    def code(self, ide):
        ide.execute()

ide=Myeditor()       


lap1=Laptop()
lap1.code(ide)

spell check
covention check
Compiling
Running

#### Operator Overloading

In [9]:
a=5
b=6

print(a+b)

print(int.__add__(a,b))

11
11

In [11]:
a='5'
b='6'

print(str.__add__(a,b))

56

In [12]:
class student:
    def __init__(self,m1,m2):
        self.m1=m1
        self.m2=m2

s1=student(58,69)
s2=student(60,65)

total=s1+s2

TypeError: unsupported operand type(s) for +: 'student' and 'student'

In [15]:
class student:
    def __init__(self,m1,m2):
        self.m1=m1
        self.m2=m2
    def __add__(self,other):
        m1=self.m1+other.m1
        m2=self.m2+other.m2
        total=student(m1,m2)
        return total
        
s1=student(58,69)
s2=student(60,65)

total=s1+s2  # student __add__(s1,s2)

print(total.m1)

118

In [21]:
class student:
    def __init__(self,m1,m2):
        self.m1=m1
        self.m2=m2
        
    def __add__(self,other):
        m1=self.m1+other.m1
        m2=self.m2+other.m2
        total=student(m1,m2)
        return total
            
        
    def __gt__(self,other):
        r1=self.m1+self.m2
        r2=other.m1+other.m2
        if r1>r2:
            return True
        else:
            return False
        
s1=student(58,69)
s2=student(60,65)   

total=s1+s2  # student __add__(s1,s2)

print(total.m1)

if s1>s2:
    print('s1 wins')
else:
    print('s2 wins')

118
s1 wins

#### Method Overloading

In [23]:
class student:
    def __init__(self,m1,m2):
        self.m1=m1
        self.m2=m2
    def sum(self,a,b):
        s=a+b
        return a
s1= student(90,67)
s1.sum(4,5)

4

In [25]:
class student:
    def __init__(self,m1,m2):
        self.m1=m1
        self.m2=m2
    def sum(self,a,b):
        s=a+b
        return a
s1= student(90,67)
s1.sum(4,5,6) # it will not work

TypeError: student.sum() takes 3 positional arguments but 4 were given

In [38]:
class student:
    def __init__(self,m1,m2):
        self.m1=m1
        self.m2=m2
    def sum(self,a=None,b=None,c=None):
        s=a+b
        return s
s1= student(90,67)
print(s1.sum(4,5))
print(s1.sum(6,7,9))
print(s1.sum(45))

9
13

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

### Method overriding

In [2]:
class A:
    def show(self):
        print('in a show')
class B:
    pass

b1=B()
b1.show()

AttributeError: 'B' object has no attribute 'show'

In [3]:
class A:
    def show(self):
        print('in a show')
        
class B(A):
    pass

b1=B()
b1.show()

in a show

In [4]:
class A:
    def show(self):
        print('in a show')
        
class B(A):
    def show(self):
        print('in show B')
        
b1=B()
b1.show()  # this is method overriding

in show B