# Python operators

Python has 7 types of operators 

- Arithemetic operator
- Relational operators (comparision operator)
- Assignment   "
- Logical      "
- Membership   "
- Identity     "
- Bitwise      "

## Arithmectic operators

There are 7 types of AO

- Addition (+)
- Subtraction (-)
- Division (/)
- Multiplication (*)
- Modulus (%)
- Floor division (//)
- Exponentiation (**)

In [1]:
9/2

4.5

In [2]:
9//2

4

In [3]:
9%2

1

In [4]:
2**3

8

In [5]:
2**-3

0.125

In [6]:
2*3

6

In [9]:
"pawan"/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [10]:
"pawan"//2

TypeError: unsupported operand type(s) for //: 'str' and 'int'

In [11]:
'pawan/2

SyntaxError: unterminated string literal (detected at line 1) (1872444397.py, line 1)

In [14]:
"pawan"/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

# Concatenation

In [16]:
"pawan"+"tangariya"

'pawantangariya'

In [17]:
name="pawan"
surname="singh"         #CONCATENATION (joining 2 strings)
print(name+surname)

pawansingh

In [2]:
name="pawan"
surname="singh"
print(name+"           "+surname)

pawan           singh

In [25]:
print(name  +  surname)

pawansingh

In [28]:
"pawan   " +  "   singh"

'pawan      singh'

# Replication

In [2]:
pawan=20

In [3]:
pawan*2

40

In [31]:
"pawan"*4                              #strings can be multyplied

'pawanpawanpawanpawan'

In [32]:
"pawan "*4                          # after using space

'pawan pawan pawan pawan '

## Floor division //

Floor division returns the quotient in which the digits after decimal point are removed. In simple terms , it is used to divide one value by a second value and gives a quotient as a round figure value to the next smallest whole value 

It works same as the division operator , except it return a possible integer .The // symbol denotes a floor division

In [1]:
4/2

2.0

In [34]:
4//2

2

In [35]:
9//2

4

In [36]:
14//3

4

In [37]:
5/5//3

0.0

In [38]:
5/3

1.6666666666666667

In [39]:
5//3

1

NOTE*   

Floor division can perform both floating-point and integers .if both operands are int type then the result int type .If at least one operand float type ,then the result is a float type  (float type=decimal)

In [41]:
9//2

4

In [43]:
.45//2

0.0

In [44]:
2//.1

19.0

#  Relational (comparison) Operators

1. greater than(>)
2. less than(<)
3. equal to  (==)
4. not equal to(!=)
5. greator than equal to(>=)
6. less than euqal to (<=)

In [7]:
x=3;y=13

In [8]:
x>y   # grater than

False

In [9]:
x<y    # less than

True

In [10]:
x==y    # equal to

False

In [11]:
x!=y

True

In [12]:
x<=y

True

In [13]:
x>=y

False

# Assignment operators

1. Assign (=)
2. add and assign (+=)             a+=5 (means a=a+5)
3. subtract and assign (-=)        a-=5 (means a=a-5) 
4. multyply and assign (*=)        a*=5 (means a=a*5)
5. divide and assign (/=)          a/=5 (means a=a/5)
6. modulus and assign (%=)         a%=5  (means a=a%5)
7. floor division and assign (//=) 
8. exponent and assign (**=)

In [14]:
a=6;b=10

In [15]:
a+=b       # a=a+b ( where a=6,b=10)
print(a)

16

In [16]:
a/=b        #a=a/b    (where a=16,b=10)
print(a)

1.6

In [17]:
a%=b         # a=a%b
print(a)

1.6

In [18]:
b+=a       # b=b+a
print(b)

11.6

In [19]:
b*=a
print( b)

18.56

In [2]:
A="pawan"
A+="singh"
print(A)

pawansingh

In [4]:
greetings="hey"
greetings+="pawan"      # greetings= greeetings+"pawan"
print(greetings)

heypawan

In [5]:
sky="pawan"
sky/="hey"                # only add and assign is used for strings
print(sky)

TypeError: unsupported operand type(s) for /=: 'str' and 'str'

# Logical operators

In [ ]:
1. and (Logical and )
2. or (Logical or)
3. not (Logical not)

## and (Logical and)

If any of the condition is False thans answer is False 
IF both are TRUE than answer is TRUE

In [27]:
print(True and False)

False

In [24]:
print(False and True)

False

In [29]:
print(False and False)

False

In [28]:
print (True and True)

True

 #### IN case of arthematical values the answer is the second value

In [36]:
print(10 and 20)
print(30 and 50) 
print(40 and 60)
print(24 and 56)

20
50
60
56

## or(Logical or)

1. If any of the condition is True than answer is true 
2. If both are False than answer is False

In [30]:
print(True or False)

True

In [31]:
print(False or True)

True

In [32]:
print(True or True)

True

In [33]:
print (False or False)

False

#### In case of Arethmatic values or gives the first value

In [37]:
print(10 or 20)
print(30 or 50)
print(50 or 30)

10
30
50

## not (Logical not)

not operator gives contarary answer

In [39]:
print(not True)

False

In [41]:
print(not False)

True

#### Not used for arthematical values or strings

In [7]:
print(10 not 20)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (600232622.py, line 1)

In [8]:
print("pawan" not "singh")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (128264869.py, line 1)

# Identity operators

1. is 
2. is not
   - it check whether two variables or objects share the same memory location or not

In [7]:
x=12
y=12

print(id(x))
print(id(y))
print(x is y )
print(x is not y)

140710490444936
140710490444936
True
False

In [8]:
x==y

True

In [9]:
x!=y

False

In [59]:
g=12
h=[12]
print(id(g))
print(id(h))

140719166887048
2585226436224

In [60]:
print(h is g)
print(g is not h)

False
True

In [64]:
g=[1,23,3,4,24,]
h=3
print(id(g))
print(id(h))

2585183270912
140719166886760

In [65]:
print(h is g)
print(g is not h)

False
True

In [66]:
print(h in g)
print(g not in h)

True

TypeError: argument of type 'int' is not iterable

# membership operators

In [ ]:
# Membership Operators       (in   not in) 
# Membership operators check whether a value is present in a sequence of values
# Sequence- strings,lists,tuples

In [18]:
a= "Data science"
b= "Data"

In [69]:
print(b in a)
print(a in b)

True
False

In [21]:
b in a
a in b             # it will only read the last one if we don't use print func.(python is a left to right language)

False

In [22]:
print(b in a)
print(a in b)

True
False

In [23]:
b in a;a in b

False

In [24]:
c=[1,2,3,5,6]
d=[3]

In [25]:
 print(d in c)

False

In [68]:
print(c in d)
print(d in c)
print(d not in c)

False
False
True

In [4]:
d=[1,2,3,4]
c=[2]

In [9]:
print(d in c)

False

In [8]:
print(c in d)

False

In [2]:
y=[1,2,3,4]   
x=4

In [3]:
print(y in x)

TypeError: argument of type 'int' is not iterable

In [6]:
print(x in y)
print(y not in x)
print(y in x)

True

TypeError: argument of type 'int' is not iterable

In [49]:
print(x in y)
print(y in x)

True

TypeError: argument of type 'int' is not iterable

In [3]:
y=1,2,3,4,5
p=1,2

In [4]:
print(y in p)
print(y not in p)
print(p in y)
print(p not in y)

False
True
False
True

In [6]:
u=5,9,7,0
r=[5]
print(u in r)
print(r not in u)
print(r in u)
print(u not in r)

False
True
False
True

In [1]:
my_list=[13,45,68,34]
number=12
if number in my_list:
    print('cool')
else:
    print('no')

no

In [5]:
my_list=[13,45,68,34]
number=45
if number in my_list:
    print('no. is present')
else:
    print('no. is not present')

no. is present

# Bitwise operators

1.&-bitwise and 
2.|- bitwise or
3.^- bitwise XOR 
4.~- bitwise not
5.<< left shift
6.>> right shift 

  ### not used in data science