# Data type

## python there are two types of DATA 

1. MUTABLE data types - Data types in python where the value assigned to a variable can be changed . But memmory address never changes .Some mutable data types in python includes Set,List,Dictionary 
2. IMMUTABLE data types - data types in python where the values assigned to a variable cann't be changed. But memmory address can be changed des - (all other data type are immutable) ex- String,Tuple,Integer,Float,

## Python List

### Properties of list

1. Mutable: The elements of the list can be modified
2. Ordered: The items in the list are ordered
3. Heterogenous: The list can contain different types of elements(data types)
4. Duplicate: The list can contain duplicates i.e, lists can contain two items with same value

- list always written with square brackets

In [1]:
my_list= list[2,4,4,2,6,77,777,"pawan",1.4,]
print(my_list)

list[2, 4, 4, 2, 6, 77, 777, 'pawan', 1.4]

In [2]:
my_list= [2,4,4,2,6,77,777,"pawan",1.4,]

print(len(my_list))

9

In [5]:
my_list= [2,4,4,2,6,77,777     ,"pawan",1.4,]           # space is a character but not shown here

print(len(my_list))

9

In [20]:
my_list= [2,4,4,"     ", 2,6, "       ", 77,777,"pawan",1.4,]   # we can makw space count by using "" comas
print(len(my_list))

11

In [3]:
list=[1,2.3,"pawam",6+12j]     #Hetrogenous contains diff. data types

print(list)

[1, 2.3, 'pawam', (6+12j)]

In [1]:
list=[1,2,2,12.3,"pawam",1,6+12j]     # Duplicate  having repeated  elements
print(list)

[1, 2, 2, 12.3, 'pawam', 1, (6+12j)]

### Ordered / Indexing

- Ordered list (INDEX) counted from 0,1,2.....
- items are counted from 1,2,3....

In [6]:
list[3]      # ordered  (index 3 have item "pawan")

'pawam'

In [28]:
list1=[1,2.3,1,"pawan",12+2j,8]
print(list1)
print(len(list1))
print(list1[4])

[1, 2.3, 1, 'pawan', (12+2j), 8]
6
(12+2j)

### Positive Indexing, Negative Indexing

##### Positive Indexing- starts from left to right   counting -0,1,2,3,4...
##### Negative Indexing- starts from right to left  counting- -1,-2,-3,-4...

In [13]:
list1=[1,2.3,1,"pawan",12+2j,8]

In [14]:
list1[-1]         # Negative Indexing

8

In [16]:
print(list1[3])
print(list1[3-6])

pawan
pawan

In [12]:
term=[1,2,5.7,'holly',7+4j,"worhty"]

In [41]:
print(term[4])
print(term[4-6]) # same item by reverse indexing

(7+4j)
(7+4j)

In [17]:
list0=[1,"pawan",2.3,1,"y",45+16k]       # only j is used as iota in python not any other alphabet
print(list0)

SyntaxError: invalid decimal literal (2110011990.py, line 1)

 ### Formula 
  
  POSTIVE Index no. - total no. of items

### slicing of list

In [11]:
list1=[1,2.3,1,"pawan",12+2j,8]

In [12]:
print(list1[3:5])    # it will show only index no. 3,4 not 5

['pawan', (12+2j)]

#### For negative we have to write index no. from left to right [-5:-3], [-3:-1] 
    - or smaller no. first

In [18]:
print(list1[-1:-4])

[]

In [19]:
print(list1[-4:-1])

[1, 'pawan', (12+2j)]

In [13]:
print(list1[-3:-1]) # it will show only index no. -3,-2
print(list1[-5:-2]) # it will show only index no. -5,-4,-3

['pawan', (12+2j)]
[2.3, 1, 'pawan']

- If we have 5 elements so we have to write [1:6] to get  the 5th element sliced

In [21]:
new_list=[1,9.6,"alice",2+4j,1,98,"f",78]

In [22]:
print(new_list[3:8])

[(2+4j), 1, 98, 'f', 78]

In [23]:
print(new_list[3:7])

[(2+4j), 1, 98, 'f']

In [2]:
print(my_list[:]) # this full sclicing

[10, 20, 'shreya', 12.5, 'malni', 25, 50, 4, 3, 9, 70, 80]

## Step slicing

#### listname[start_index:end_index:step]

In [2]:
my_list=[10,20,'shreya',12.50,'malni',25,50,4,3,9,70,80]

# extracting a portion of the list from 2nd till 8th element

print(my_list[1:8:2])

# output [20,12.5,25,4]

print(my_list[1:4:2])

[20, 12.5, 25, 4]
[20, 12.5]

In [1]:
wl=[12,46,7,34,32,'pawan',45,454]

wl[1:6:2]

[46, 34, 'pawan']

# Reversing of list

In [2]:
my_list=[10,20,'shreya',12.50,'malni',25,50,4,3,9,70,80]

print(my_list[::-1])

[80, 70, 9, 3, 4, 50, 25, 'malni', 12.5, 'shreya', 20, 10]

In [12]:
my_list[:-1]

[10, 20, 'shreya', 12.5, 'malni', 25, 50, 4, 3, 9, 70]

### Adding elements to the list

#### 1. APPEND item at the end of the list

In [5]:
list2=[1,5.6,"pawan",2+3j,14]

In [6]:
id(list2)

2037372569600

In [7]:
list2.append("singh")
print(list2)    # i ran it several times

id(list2)

[1, 5.6, 'pawan', (2+3j), 14, 'singh']

2037372569600

In [7]:
list3=[1,2,3,"hey",3.4]

In [8]:
id(list3)

2150090920256

In [16]:
list3.append(2+6j)
print(list3)

[1, 2, 3, 'hey', 3.4, (2+6j), (2+6j), (2+6j), (2+6j)]

In [15]:
id(list3)            # id is same after appending c/z list is mutable data type

2150090920256

In [19]:
list3.append([1,2,3])           # it can add list inside list
print(list3)

[1, 2, 'singh', [1, 2, 3], [1, 2, 3], (16+5j), 3, 'hey', 3.4, (2+6j), (2+6j), (2+6j), (2+6j), [1, 2, 3], [1, 2, 3]]

In [23]:
list3.append("w","q","w")               #append takes only one element

TypeError: list.append() takes exactly one argument (3 given)

### 2.addtion using Insert method

In [3]:
list3=[1, 2, 3, 'hey', 3.4, (2+6j), (2+6j), (2+6j), (2+6j)]

In [4]:
list3.insert(2,"singh")             # it inserted "singh" at index no. 2 shfiting the places

In [5]:
print(list3)

[1, 2, 'singh', 3, 'hey', 3.4, (2+6j), (2+6j), (2+6j), (2+6j)]

In [6]:
list3.insert(3,16+5j)
print(list3)

[1, 2, 'singh', (16+5j), 3, 'hey', 3.4, (2+6j), (2+6j), (2+6j), (2+6j)]

In [8]:
list3.insert(3,[1,2,3])
print(list3)

[1, 2, 'singh', [1, 2, 3], [1, 2, 3], (16+5j), 3, 'hey', 3.4, (2+6j), (2+6j), (2+6j), (2+6j)]

### 3. addition using extend method

In [23]:
list_no=[23,45,0.9,"wahh"]

In [24]:
list_no.extend('disha')

In [12]:
print(list_no)

[23, 45, 0.9, 'wahh', 'd', 'i', 's', 'h', 'a']

In [13]:
list_no.extend([1,3,4])

In [14]:
print(list_no)

[23, 45, 0.9, 'wahh', 'd', 'i', 's', 'h', 'a', 1, 3, 4]

In [2]:
po=[12,34.56,"pawan",78]

In [4]:
po.extend([1])
print(po)

[12, 34.56, 'pawan', 78, 1, 1]

In [6]:
po.extend("[78,34,56]")
print(po)

[12, 34.56, 'pawan', 78, '[', '7', '8', ',', '3', '4', ',', '5', '6', ']', '[', '7', '8', ',', '3', '4', ',', '5', '6', ']']

In [10]:
u=[334,456,78,89,43]

In [11]:
u.extend([[9,89,84]])
print(u)

[334, 456, 78, 89, 43, [9, 89, 84]]

In [12]:
u.extend(5)  # only iterable items can be added

TypeError: 'int' object is not iterable

In [13]:
u.extend(10,20)

TypeError: list.extend() takes exactly one argument (2 given)

In [17]:
print(u.extend('n'))      # do not works with print func

None

In [18]:
u.extend('n')

In [19]:
print(u)

[334, 456, 78, 89, 43, [9, 89, 84], 'p', 'a', 'w', 'a', 'n', 'p', 'a', 'w', 'a', 'n', 'n', 'n']

#### None is a special built-in constant that represents the absence of a value or a null value. It is used to indicate that a variable or expression doesn't have a meaningful value.

## Modify the items of the list

    list[index no.]=data

In [2]:
p_list=[9,5,7,34.5,23]
id(p_list)

2319712649664

In [3]:
p_list[3]=89

In [4]:
print(p_list)       # replaced item no.3 (34.5 with 89)

[9, 5, 7, 89, 23]

In [5]:
id(p_list)

2319712649664

In [6]:
p_list[4]=69

In [7]:
print(p_list)

[9, 5, 7, 89, 69]

In [23]:
id(p_list)

2237855252672

In [8]:
p_list[0:2]=21

TypeError: can only assign an iterable

### - modifying more than one indexes

In [1]:
c_list=[1,2,4.5,78,34,2,7]

In [2]:
c_list[0:3]=[20,80,90,233]    # it replaced indexes 0,1,2

In [3]:
print(c_list)

[20, 80, 90, 233, 78, 34, 2, 7]

In [4]:
q_list=[45,67,89,6.7,"hello",567,345]

In [5]:
q_list[0:5]=[0,9,8,7,6]
print(q_list)

[0, 9, 8, 7, 6, 567, 345]

In [24]:
t_list=[1,2,3.4,5.6,23,56,3]

In [25]:
t_list[2:4]=["pawan"]    # it replaced index numbers 2,3 with "pawan"

In [26]:
print(t_list)

[1, 2, 'pawan', 23, 56, 3]

In [61]:
t_list[2:4]="pawan"

In [62]:
print(t_list)

[1, 2, 'p', 'a', 'w', 'a', 'n', 56, 3]

In [12]:
h=[2,4,6,78,89]

In [13]:
h[0:4]="pawan"

In [14]:
print(h)

['p', 'a', 'w', 'a', 'n', 89]

In [15]:
h[0:4]=["pawan"]

In [16]:
print(h)

['pawan', 'n', 89]

In [17]:
h[0:1]=["singh"+"pawan"]

In [18]:
print(h)

['singhpawan', 'n', 89]

In [19]:
h.extend("arvi")

In [20]:
print(h)

['singhpawan', 'n', 89, 'a', 'r', 'v', 'i']

In [21]:
h.extend(["arvi"])

In [22]:
print(h)

['singhpawan', 'n', 89, 'a', 'r', 'v', 'i', 'arvi']

In [23]:
h[2:4]=["suryansh"]
print(h)

['singhpawan', 'n', 'suryansh', 'r', 'v', 'i', 'arvi']

In [24]:
h[2:4]=[22]
print(h)

['singhpawan', 'n', 22, 'v', 'i', 'arvi']

In [25]:
h[0:2]=22,34

In [26]:
print(h)

[22, 34, 22, 'v', 'i', 'arvi']

In [27]:
h[0:3]=["pawan"*3]

In [28]:
print(h)

['pawanpawanpawan', 'v', 'i', 'arvi']

### Removing elements from a list

1. list.remove(item)
2. list.pop(index)
3. list.clear()
4. del (list name)

### remove

In [76]:
lost=[1,2,44,6,8,"singh"]
id(lost)

2353699611968

In [77]:
lost.remove(8)        # it will remove the item 8

In [78]:
print(lost)

[1, 2, 44, 6, 'singh']

In [79]:
lost.pop(0)

1

In [80]:
print(lost)

[2, 44, 6, 'singh']

In [81]:
id(lost)

2353699611968

In [82]:
print(lost)

[2, 44, 6, 'singh']

### pop

In [83]:
lost.pop(2)     # it will remove the index no. 2

6

In [84]:
print(lost)

[2, 44, 'singh']

In [85]:
lost.pop()                 # it will remove the last item

'singh'

In [86]:
print(lost)

[2, 44]

In [87]:
lost.pop([0])              #c/z [0] is an list and index is an integer

TypeError: 'list' object cannot be interpreted as an integer

In [89]:
lost.pop(0,1)

TypeError: pop expected at most 1 argument, got 2

In [103]:
print(lost)

[2, 44]

### del

In [109]:
x_list=[90,56,23,56,12,45,"hey"]
id(x_list)

2353700095744

In [110]:
del x_list[2:5]

In [111]:
print(x_list)
print(id(x_list))

[90, 56, 45, 'hey']
2353700095744

In [112]:
del x_list           # it erased the list

In [113]:
print(x_list)

NameError: name 'x_list' is not defined

In [3]:
p=[1,2,3,45,67]

In [4]:
p.remove(1)

In [5]:
print(p)

[2, 3, 45, 67]

In [6]:
p=[1,2,3,45,67]

In [7]:
p.remove(p[0])          # removing item using index no.

In [8]:
print(p)

[2, 3, 45, 67]

### clear

In [9]:
print(p)

[2, 3, 45, 67]

In [10]:
p.clear()

In [11]:
print(p)

[]

In [12]:
print(p)

[]

In [13]:
p.append(2)

In [15]:
print(p)   # append also works after clearing

[2]

In [70]:
p.insert(0,34)

In [71]:
print(p)     # insert works after clearing the list

[34, 2]

In [2]:
c=[23,45,78,90]
id(c)

2214163116672

In [3]:
c.clear()

In [4]:
print(c)

[]

In [5]:
c.extend("pawan")

In [6]:
print(c)             # extend works after clearing the list

['p', 'a', 'w', 'a', 'n']

In [7]:
c.clear()

In [8]:
print(c)

[]

In [9]:
c[0]=23          # modify do not works

IndexError: list assignment index out of range

In [10]:
print(c)
print(id(c))

[]
2214163116672

In [11]:
c.append(12)

In [12]:
print(c)   # append also works

[12]

## Finding an element in the list

used the index func. to find an item of the list

In [1]:
my_lost=[45,67,89,23,67]

In [2]:
print(my_lost.index(89))

2

In [4]:
print(my_lost.index(67))

1

In [5]:
print(my_lost.index(0))

ValueError: 0 is not in list

In [20]:
print(my_lost.index(67,89))

ValueError: 67 is not in list

In [10]:
print(my_lost.index([67,89]))

ValueError: [67, 89] is not in list

In [14]:
print(my_lost.index(67),(89))

1 89

In [17]:
print(my_lost.index(67),my_lost.index(89))

1 2

In [18]:
print(8)

8

## concatenation of two list

In [20]:
print("say"+"no")

sayno

In [4]:
list22=[1,23,4]
list12=[9,8,0]

In [5]:
print(list22+list12)              # using concatenation

[1, 23, 4, 9, 8, 0]

In [6]:
list22+=list12        # using add and assign

In [7]:
print(list22)

[1, 23, 4, 9, 8, 0]

In [8]:
print(list22)

[1, 23, 4, 9, 8, 0]

In [9]:
list36=[34,56,23]
print(list22)

[1, 23, 4, 9, 8, 0]

In [10]:
list22[6:9]=list36

In [11]:
print(list22)

[1, 23, 4, 9, 8, 0, 34, 56, 23]

In [12]:
list36.insert(3,list22)

In [13]:
print(list36)
print(list22)

[34, 56, 23, [1, 23, 4, 9, 8, 0, 34, 56, 23]]
[1, 23, 4, 9, 8, 0, 34, 56, 23]

In [14]:
list36.extend(list22)            # adding list using extend

In [15]:
print(list36)

[34, 56, 23, [1, 23, 4, 9, 8, 0, 34, 56, 23], 1, 23, 4, 9, 8, 0, 34, 56, 23]

### list can be multiplied

In [5]:
f_list=[1,2,335,90,"no"]*2
print(f_list)

[1, 2, 335, 90, 'no', 1, 2, 335, 90, 'no']

## list can be added to list

In [6]:
f_list+[2]

[1, 2, 335, 90, 'no', 1, 2, 335, 90, 'no', 2]

In [7]:
f_list+2

TypeError: can only concatenate list (not "int") to list

In [8]:
f_list+[1,4]
print(f_list)

[1, 2, 335, 90, 'no', 1, 2, 335, 90, 'no']

# Revesion questions

 ### Q- finding element of sublist

In [1]:
fac=[34,23,78,[24,35,5,[748,45]]]

In [2]:
fac[3][2]

5

In [3]:
fac[3][3][0]

748

### Q- removing empty string from a list of string

In [4]:
list2=["pawan",'singh',"say","no",""]

In [5]:
list2.remove("")

In [6]:
print(list2)

['pawan', 'singh', 'say', 'no']

### Q- concatination of two string

In [8]:
listr=["no","say","fail"]
listf=["fo","hi","go","yay"]

In [9]:
print(listr[2]+listf[3])

failyay

In [10]:
print(listr+listf)

['no', 'say', 'fail', 'fo', 'hi', 'go', 'yay']

### Q- adding strings in sequence

In [12]:
l1=["i ","studying ","in "]
l2=["python ","am ","vijai "]

In [13]:
print(l1[0]+l2[1]+l1[1]+l2[0],l1[2],l2[2])

i am studying python  in  vijai

### Q- nesting adding list into list

In [18]:
nes=[12,"yay",33,90]

In [19]:
nes.insert(90,[123,456])

In [20]:
print(nes)

[12, 'yay', 33, 90, [123, 456]]

### Q- reversing the list

In [13]:
num=[12,345,76,34,98]

In [14]:
num[5::-1]

[98, 34, 76, 345, 12]

In [15]:
num[::-1]

[98, 34, 76, 345, 12]

### Q- squaring the items of the list

In [25]:
print(num)

[12, 345, 76, 34, 98]

In [27]:
print(num[0]**2,num[1]**2,num[2]**2,num[3]**2,num[4]**2)

144 119025 5776 1156 9604

## doubling of a list

In [1]:
u=[12,34,57,890,'hey']
print(u+u)

[12, 34, 57, 890, 'hey', 12, 34, 57, 890, 'hey']

## when to use List data type 

- To check the no. of items in a data
- To insert a item at a particular place
- To modify the items

# step indexing

In [1]:
lists=[12,422,24,242,'pawan',123,33,2,34,7,8,5,44,42]

In [4]:
lists.index(34,2,10)    # 32 is item of which we are finding index 
                        # 2-10 is finding from index 2 to 10

8

In [3]:
lists.index(34,2,7)

ValueError: 34 is not in list

### Count

- counting number of times an item is present in a list

In [4]:
listg=[1,24,12,"pawan",6,1,23,1,67,1,"pawan",6,1,12,90,35,34,12,1,"hey",90,12,1,89,345,12,24,6,1,23,"pawan"]

In [17]:
listg.count(1)

8

In [22]:
listg.count("pawan")

3

### MAX and MIN

- maximum and minimum value in a list

In [5]:
 max(listg)  # error becuase it can't compare string with intergers

TypeError: '>' not supported between instances of 'str' and 'int'

In [10]:
list3=[1,24,12,6,1,23,1,67,1,6,1,12,90,35,34,12,1,90,12,1,89,345,12,24,6,1,23]

max(list3),min(list3)

(345, 1)

#### Adding items from a dictionary in a list by using extend method

In [15]:
dict={'a':1,'B':22,2:"pawan"}

In [16]:
list3.extend(dict)

In [18]:
print(list3)    # only key got added

[1, 24, 12, 6, 1, 23, 1, 67, 1, 6, 1, 12, 90, 35, 34, 12, 1, 90, 12, 1, 89, 345, 12, 24, 6, 1, 23, 'a', 'B', 2]

### Copying a list  

    two methods of copying are:
- Deep copy
- .Copy()

#### Deep Copy
 Changes made on the original list will be reflected in copied list

In [10]:
list2=[34,35,36,37]

In [11]:
my_list=list2
print(my_list)

[34, 35, 36, 37]

In [12]:
# changing list2
list2.append(38)

In [13]:
print(list2)
print(my_list) # my_list also got changed

[34, 35, 36, 37, 38]
[34, 35, 36, 37, 38]

In [16]:
my_list.insert(2,0)
print(my_list) # any change made on the copied list will also be reflected in the original list
print(list2)

[34, 35, 0, 36, 37, 38]
[34, 35, 0, 36, 37, 38]

#### .copy()

- Changes made on the original list will no reflected in the copied list

In [17]:
new_list=list2.copy()
print(new_list)

[34, 35, 0, 36, 37, 38]

In [18]:
list2.extend("paw")
print(list2)
print(new_list) # no effect in the new list after changing the original list

[34, 35, 0, 36, 37, 38, 'p', 'a', 'w']
[34, 35, 0, 36, 37, 38]

## List Operations

- Sort()
- Rverse()
- sum()
- All()

#### Sort()

In [19]:
list3=[3,6,3,2,1,5,4,7]
list3.sort()   # no change in ID 
print(list3)

[1, 2, 3, 3, 4, 5, 6, 7]

#### Reverse()

In [23]:
list3=[3,6,3,2,1,5,4,7]
list3.reverse() # no change in ID
print(list3)

[7, 4, 5, 1, 2, 3, 6, 3]

#### SUM()

In [25]:
list3=[3,6,3,2,1,5,4,7]
sum(list3)

31

In [27]:
list3=[3,6,3,2,1,5,4,7,'paw']

sum(list3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
list4=['a','b','c','d','e']
sum(list4)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### ALL()

- IN case of all function the return value will be true if all the items inside the list are true

- NOTE* all datatype except 0 and False are true

In [33]:
sample_list=[1,1,True,"X",6.9,[8,0]]
print(all(sample_list))

True

In [34]:
sample1=[0,4,True]
all(sample1)

False

In [35]:
sample2=[]  #empty list is always true 
all(sample2)

True

## List Comprehension

- is a simple method to create a list from a existing list
- It is generally a list of iterables generated with an option to include only the items which satisfy a condotion

In [37]:
# Creating squares from 1 to 100 by normal method

lists=[]
for i in range (1,11):
    i=i**2
    lists.append(i)
print(lists)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
# Using comprehension method

output_set={i**2 for i in range(1,11)}
print(output_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [40]:
type(output_list)

set

In [44]:
output_list1=[i**2 for i in range(1,11)] # by change the starting brackets it changed the data type
print(output_list1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
type(output_list1)

list

In [46]:
even_list=[i for i in range(1,11) if i%2==0]

In [47]:
print(even_list)

[2, 4, 6, 8, 10]

In [21]:
eve_list=[ i%2==0 for i in range(1,11)]

SyntaxError: invalid syntax (3798569683.py, line 1)

In [48]:
text="HeLlO WorlD"

In [49]:
up_text=[ i for i in text if i==i.upper()]

In [50]:
print(up_text)

['H', 'L', 'O', ' ', 'W', 'D']

### Methods of Converting user input into List

#### List of numbers as input from user

In [ ]:
input_string=input('enter elements of a list sperated by sapace')

user_list=input_string.split()

# converting each item into int type 
for i in range(len(user_list)):
    user_list[i]=int(user_list[i])
print(user_list)
print(sum(user_list))

#### Input a list using input() and range() Functions in pyhton

In [1]:

liste=[]
n=int(input("enter the list size"))
print("\n")  # for space in btw commands 

for i in range(0,n):
    print("enter number at index",i)
    item=int(input())
    liste.append(item)
print('user list is', liste)

enter the list size 4

enter number at index 0

 12

enter number at index 1

 34

enter number at index 2

 54

enter number at index 3

 32

user list is [12, 34, 54, 32]

In [3]:
liste=[]
n=int(input("enter the list size"))
print("\n")

enter the list size 3

#### Input a list using map() Function

In [ ]:
n=input('enter the size of the list')
print('\n')

num_list=list(map(float,input('enter the list numbers').strip().split()))[:n]

#### Get a list of strings from a user (use spli() fuction)

In [1]:
input_string=input('enter the name of the family members separated by spaces')

family_list=input_string.split()
print('\n')
print("name of all family members")
for i in family_list:
    print(i)

enter the name of the family members separated by spaces Pawan Manoj Munni Anchal

name of all family members
Pawan
Manoj
Munni
Anchal

In [1]:
input_string=input('enter the name of the family members separated by spaces')

family_list=input_string.split()
print('\n')
print("name of all family members")

print(family_list)

enter the name of the family members separated by spaces Pawan manoj anchal singh

name of all family members
['Pawan', 'manoj', 'anchal', 'singh']

In [2]:
input_string=input('enter the name of the family members separated by spaces')

family_list=input_string
print('\n')
print("name of all family members")
for i in family_list:
    print(i)

enter the name of the family members separated by spaces pawan manoj anchal singh

name of all family members
p
a
w
a
n

m
a
n
o
j

a
n
c
h
a
l

s
i
n
g
h

In [5]:
names1=input('names')
names1.split()

names 'seeta', 'geeta','sarita' , 'pushpa' ,'hansha'

["'seeta',", "'geeta','sarita'", ',', "'pushpa'", ",'hansha'"]

In [17]:
namess='seeta' 'geeta'
namess.split()

['seetageeta']

#### Accept a nested list as inout

In [1]:
 list_size=int(input("enter single number of sublists innested list"))
print('\n')

final_list=[[int(input("enter the number of sublist in nested list")) for _ in range(list_size)]for _ in range(list_size)]

print('list is', final_list)

enter single number of sublists innested list 3

enter the number of sublist in nested list 23
enter the number of sublist in nested list 13
enter the number of sublist in nested list 12
enter the number of sublist in nested list 6
enter the number of sublist in nested list 63
enter the number of sublist in nested list 56
enter the number of sublist in nested list 5
enter the number of sublist in nested list 53
enter the number of sublist in nested list 53

list is [[23, 13, 12], [6, 63, 56], [5, 53, 53]]