# Set in python

### characteristics of set 
1. unodered 
2. unchangeable (items must be immutable)
3. unique      (items must be unique , no duplicate)

 - written in a curly brackets

In [3]:
my_set={1,2,"pawan",[23.4,78],6+2j}            # list cann't be addd in set c/z list is mutable and set is not

TypeError: unhashable type: 'list'

In [2]:
u={34,6.78,78+8j,"pawan"}

In [3]:
u.index(3)                # cann't find index caused it is not ordered (no indexing)

AttributeError: 'set' object has no attribute 'index'

## len

In [4]:
u.len

AttributeError: 'set' object has no attribute 'len'

## append

In [11]:
u.append(12)

AttributeError: 'set' object has no attribute 'append'

## insert

In [12]:
u.insert(2,34)

AttributeError: 'set' object has no attribute 'insert'

## extend

In [13]:
u.extend('paw')

AttributeError: 'set' object has no attribute 'extend'

## modify

In [14]:
u[3]=45

TypeError: 'set' object does not support item assignment

## remove

In [15]:
print(u)

{'pawan', 34, 6.78, (78+8j)}

In [16]:
u.remove(34)

In [17]:
print(u)

{'pawan', 6.78, (78+8j)}

## clear

In [35]:
u.clear()

In [36]:
print(u)

set()

In [39]:
w={1,23,{3,34}}           # set is mutable that's why we cann't add a set inside set c/z items of set are immutable

TypeError: unhashable type: 'set'

## del

In [1]:
setc={1,2,35,67,8.5}

In [2]:
del setc
print(setc)

NameError: name 'setc' is not defined

## pop

In [13]:
setn={1,2,3455,6.7,"pawan"}

In [14]:
setn.pop()          # removed the item from left

1

In [15]:
print(setn)

{2, 'pawan', 6.7, 3455}

In [16]:
setn.pop()

2

In [17]:
print(setn)

{'pawan', 6.7, 3455}

## adding two set

In [1]:
seta={1,2,45,67,43}
setb={23,45,67,967}

In [2]:
seta.add(setb)

TypeError: unhashable type: 'set'

In [6]:
print(seta+setb)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [7]:
print({seta}*2)

TypeError: unhashable type: 'set'

# Adding items to the set

## add()

In [18]:
set0={1,23,45,5.65}

In [19]:
set0.add(12)

In [20]:
print(set0)

{1, 5.65, 12, 45, 23}

In [21]:
set0.add(34)
print(set0)

{1, 34, 5.65, 12, 45, 23}

In [22]:
set0.add{12}

SyntaxError: invalid syntax (3999653041.py, line 1)

In [1]:
set1={90,"yaay",78,23,"no"}

In [2]:
set1.add((12,34,89))

In [3]:
print(set1)

{'no', (12, 34, 89), 23, 'yaay', 90, 78}

In [4]:
set1.add(12,336,46)

TypeError: set.add() takes exactly one argument (3 given)

In [5]:
set1.add([12,336,46]) # it didn't add it cause add fuction add only one item and here list is treated as one item and is mutab.

TypeError: unhashable type: 'list'

In [6]:
set1.add("yyyy")          # it added "yyyy" c/z it treated it as a single item
print(set1)

{'yyyy', 'no', (12, 34, 89), 23, 'yaay', 90, 78}

In [1]:
book={"history","geography","english"}

In [2]:
book.add("science")
print(book)

{'history', 'english', 'geography', 'science'}

In [3]:
print(book.add('gu'))

None

## update([])
to add more than one item

In [33]:
book.update(["hindi","polity","math"])

In [34]:
print(book)

{'history', 'science', 'english', 'math', 'hindi', 'y', 'geography', 'polity'}

In [35]:
book.update([1,2,3])    # update took only the items of list not the list 
print(book)

{1, 2, 3, 'history', 'science', 'english', 'math', 'hindi', 'y', 'geography', 'polity'}

In [36]:
book.update('homescience',)

In [37]:
print(book)

{1, 2, 3, 'science', 'math', 'hindi', 'h', 'y', 'polity', 'history', 'c', 's', 'e', 'i', 'o', 'english', 'm', 'n', 'geography'}

In [38]:
book.update{23,46}

SyntaxError: invalid syntax (1132166138.py, line 1)

In [39]:
book.update"pawan"

SyntaxError: invalid syntax (878232343.py, line 1)

In [40]:
book.update(("raven"))

In [41]:
print(book)

{1, 2, 3, 'science', 'math', 'hindi', 'h', 'v', 'y', 'polity', 'r', 'history', 'c', 's', 'e', 'i', 'a', 'o', 'english', 'm', 'n', 'geography'}

In [42]:
book.update(("saw","no"))

In [43]:
print(book)

{1, 2, 3, 'no', 'science', 'math', 'hindi', 'h', 'v', 'y', 'saw', 'polity', 'r', 'history', 'c', 's', 'e', 'i', 'a', 'o', 'english', 'm', 'n', 'geography'}

In [44]:
book.update({"pawan"})

In [45]:
print(book)

{1, 2, 3, 'no', 'science', 'math', 'hindi', 'h', 'v', 'y', 'saw', 'polity', 'r', 'history', 'c', 's', 'e', 'i', 'a', 'o', 'pawan', 'english', 'm', 'n', 'geography'}

In [46]:
book.update({12,243,56})

In [47]:
print(book)

{1, 2, 3, 'no', 'science', 'math', 12, 'hindi', 'h', 'v', 'y', 'saw', 'polity', 'r', 'history', 'c', 's', 56, 'e', 'i', 'a', 'o', 'pawan', 'english', 'm', 243, 'n', 'geography'}

In [48]:
book.update({12})

In [49]:
print(book)

{1, 2, 3, 'no', 'science', 'math', 12, 'hindi', 'h', 'v', 'y', 'saw', 'polity', 'r', 'history', 'c', 's', 56, 'e', 'i', 'a', 'o', 'pawan', 'english', 'm', 243, 'n', 'geography'}

In [50]:
book.update{(12)}

SyntaxError: invalid syntax (3534556748.py, line 1)

In [51]:
book.update(12,78)  # 'int' object is not iterable

TypeError: 'int' object is not iterable

In [52]:
book.update("12","78")       # string is iterable
print(book)

{1, 2, 3, '8', 'no', 'science', 'math', 12, 'hindi', 'h', 'v', 'y', 'saw', 'polity', 'r', 'history', 'c', 's', '2', 56, 'e', 'i', 'a', 'o', 'pawan', 'english', '7', 'm', 243, 'n', 'geography', '1'}

In [53]:
book.update("yyyy")    # it took only "y" c/z set do not have duplicates
print(book)

{1, 2, 3, '8', 'no', 'science', 'math', 12, 'hindi', 'h', 'v', 'y', 'saw', 'polity', 'r', 'history', 'c', 's', '2', 56, 'e', 'i', 'a', 'o', 'pawan', 'english', '7', 'm', 243, 'n', 'geography', '1'}

In [4]:
name={"pawan","rao","naincy","ruskin"}

In [5]:
name.update(["raj","pushpa"])
print(name)

{'naincy', 'rao', 'raj', 'pawan', 'ruskin', 'pushpa'}

In [6]:
name.update(["12",12])
print(name)

{'naincy', '12', 'rao', 'raj', 12, 'pawan', 'ruskin', 'pushpa'}

In [7]:
name.update("12",12)

TypeError: 'int' object is not iterable

In [8]:
print(name)

{'naincy', '12', 'rao', 'raj', 12, 'pawan', 'ruskin', '1', '2', 'pushpa'}

In [9]:
name.update(((("po"))))

In [10]:
print(name)

{'naincy', '12', 'rao', 'raj', 12, 'p', 'pawan', 'ruskin', '1', 'o', '2', 'pushpa'}

In [13]:
name.update({1:"a","b":2})
print(name)

{1, 'naincy', '12', 'rao', 'raj', 12, 'p', 'pawan', 'ruskin', '1', 'o', '2', 'pushpa', 'b'}

## update don't works with empty set

In [1]:
set6={}
set6.update([12,34,23])

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [2]:
set6={1}
set6.update([12,34,23])
print(set6)

{1, 34, 12, 23}

# set operations

1. remove()
2. discard()
3. pop()
4. del
5. clear()

## remove

In [134]:
bike={"bajaj","dicover","pulsar","duke"}

In [135]:
bike.remove("bajaj")

In [136]:
print(bike)

{'duke', 'dicover', 'pulsar'}

## discard

In [137]:
bike.discard("dicover")

In [138]:
print(bike)

{'duke', 'pulsar'}

In [139]:
bike.discard("pulsar")

In [140]:
print(bike)

{'duke'}

In [141]:
bike.discard(["duke"])

TypeError: unhashable type: 'list'

In [142]:
bike.discard("duke","pulsar")

TypeError: set.discard() takes exactly one argument (2 given)

In [143]:
bike.discard(2)

In [144]:
print(bike)

{'duke'}

In [145]:
bike.discard("pulsar") # do not gives error if an already discarded item is again written to discard

In [146]:
print(bike)

{'duke'}

## pop

In [61]:
toss={34,55,132,"uday",34.56}

In [62]:
toss.pop() # it removes the left most item of the set

34

In [63]:
print(toss)

{34.56, 132, 55, 'uday'}

In [64]:
toss.pop()

34.56

In [65]:
print(toss)

{132, 55, 'uday'}

In [66]:
toss.pop()

132

# Set Operations

### union
### intersection
### difference

In [67]:
A={1,3,5,7,9,10}
B={1,33,10,56}

In [68]:
A.union(B)

{1, 3, 5, 7, 9, 10, 33, 56}

In [69]:
A.intersection(B)

{1, 10}

In [70]:
A.difference(B)

{3, 5, 7, 9}

In [71]:
B.difference(A)

{33, 56}

In [3]:
sample_set={"roopali","vidushi",25,75.25}
print(sample_set)

{25, 'roopali', 75.25, 'vidushi'}

In [4]:
sample_set.update([12,34.5,2+4j,"singh"])

In [5]:
print(sample_set)

{34.5, 'roopali', 75.25, 12, (2+4j), 'vidushi', 25, 'singh'}

## union

In [18]:
colour_set={"voiolet","indigo","blue","green","yellow"}
remaining_colour={"indigo","orange","red"}

In [19]:
print(id(colour_set))
print(id(remaining_colour))

2507980953568
2507980954464

In [20]:
vibgyor_colours=colour_set.union(remaining_colour)

In [21]:
print(vibgyor_colours)

{'blue', 'yellow', 'green', 'red', 'voiolet', 'orange', 'indigo'}

In [22]:
print(id(vibgyor_colours))

2507967631808

## insetsection

In [23]:
new_set=colour_set.intersection(remaining_colour)

In [24]:
print(new_set)

{'indigo'}

In [25]:
print(id(new_set))

2507980952224

## intersection update

- uptdation of the original set

In [52]:
colour_set={"voiolet","indigo","blue","green","yellow"}

remaining_colour={"indigo","orange","red"}
print(id(colour_set))

# intersection of two sets

common_colours=colour_set.intersection(remaining_colour)
print(common_colours)

# original set after intersection

print(colour_set)
# output {"blue","yellow","green","voilet","indigo"}
print(id(colour_set))

# intersection two sets using intersection_update() i.e updation of colour_set

colour_set.intersection_update(remaining_colour)
# original set after inntersection
print(colour_set)
print(id(colour_set))
# output {'indigo'}

2507980956928
{'indigo'}
{'blue', 'yellow', 'green', 'voiolet', 'indigo'}
2507980956928
{'indigo'}
2507980956928

## difference set

In [10]:
colour_set={"voiolet","indigo","blue","green","yellow"}
remaining_colour={"indigo","orange","red"}
print(id(colour_set))

2339911864768

In [11]:
new_set1=colour_set.difference(remaining_colour)  # difference of two set

In [12]:
print(new_set1)
print(id(new_set1))

{'blue', 'voiolet', 'yellow', 'green'}
2339911862976

In [15]:
colour_set.difference_update(remaining_colour)
print(colour_set)

{'blue', 'voiolet', 'yellow', 'green'}

In [16]:
print(colour_set)   # now colour set is diffrence i;e (new_set1)
print(id(colour_set)) # id of colour_set is same

{'blue', 'voiolet', 'yellow', 'green'}
2339911864768

In [40]:
colour_set={"voiolet","indigo","blue","green","yellow"}
remaining_colour={"indigo","orange","red"}

colour_set.difference_update(remaining_colour)   # it gave the answer set
print(colour_set)
print(id(colour_set))

X=colour_set.difference_update(remaining_colour) # it gave none (update can't br in a new variable)
print(X)

{'voiolet', 'yellow', 'green', 'blue'}
2087992202560
None

# symmetric difference of sets

 The symmetric difference operation returns the elements that are unique in the both set

In [9]:
P={1,2,45,6,7,88,90}
T={2,56,88,90,21,34,24}

In [10]:
P^T                   # it gave the unique item od both the sets

{1, 6, 7, 21, 24, 34, 45, 56}

In [11]:
colour_set={"voiolet","indigo","blue","green","yellow"}

remaining_colour={"indigo","orange","red"}

In [12]:
print(id(colour_set))
print(id(remaining_colour))

2087979454016
2087979453792

In [13]:
unique_item=colour_set^remaining_colour

In [14]:
print(unique_item)

{'voiolet', 'red', 'yellow', 'green', 'orange', 'blue'}

In [15]:
id(unique_item)          # this id is different

2087979454464

# subset and super set

In [41]:
sup={1,2,35,6.7,45,56,90,4,6}
sub={2,4,6,45}

## - issubset()

In [48]:
sup.issubset(sub)

False

In [49]:
sub.issubset(sup)

True

## - issuperset()

In [52]:
sup={1,2,35,6.7,45,56,90,4,6}
sub={2,4,6,45}

In [53]:
sub.issuperset(sup)

False

In [54]:
sup.issuperset(sub)

True

In [55]:
a.issuperset(sub)

NameError: name 'a' is not defined

## find whether two sets are disjoint

In [4]:
c_set1={"voilet","blue","yellow","red"}
c_set2={"orange","red"}
c_set3={"green","orange"}

# disjoint
print(c_set2.isdisjoint(c_set1))
# output False c/z sets contain "red" as a common item

print(c_set3.isdisjoint(c_set1))
# output is True c/z they do not have any common element

False
True

In [9]:
print(c_set2.union(c_set3).isdisjoint(c_set1))

False

In [10]:
print(c_set2.intersection(c_set3).isdisjoint(c_set1))

True

In [11]:
print(c_set3.intersection(c_set1).isdisjoint(c_set2))

True

# sort the set

A set is unordered collection of data items , so there is no piont of sorting it. if you still want to sort it using sorted() method but this method will return the list 

The sorted() function is used to sort the set .This will return a new list and will not update the original set 

ex-

In [22]:
# what data type will we get if we sort the set ?
# ANS- List

set1={20,4,6,10,8,15}
print(set1)
sorted_set= sorted(set1)

print(sorted_set)
# output is [4,6,8,10,15,20]

type(sorted_set)

{4, 20, 6, 8, 10, 15}
[4, 6, 8, 10, 15, 20]

list

In [23]:
print(id(set1))
print(id(sorted_set))

2301178110336
2301178872128

In [ ]:
r={34,56,1.2,131,335,90}

In [21]:
print(sorted(r))

[1.2, 34, 56, 90, 131, 335]

In [24]:
q={34,56,1.2,131,335,90,"abcd"}      # sorted is not supported for string an integer together in one set

In [26]:
print(sorted(q))

TypeError: '<' not supported between instances of 'str' and 'int'

In [27]:
d={"abs","absj","jada","ala"}

In [28]:
print(sorted(d))  # odered the string alphabeticaly

['abs', 'absj', 'ala', 'jada']

In [29]:
f={'d','d','d','d'}     # it gave only one string in the list
print(sorted(f))

['d']

In [31]:
g={"d2","d4","d8","d3"}         # is arranged strings with numbering
print(sorted(g))

['d2', 'd3', 'd4', 'd8']

In [32]:
p={"4d","8d","5d","3d"}
print(sorted(p))

['3d', '4d', '5d', '8d']

# max() and min()

- max() function  will return the item with maximum value in a set
- min() fucn will return an item with a minimum value in a set 

- In case of str it will compute the max/min value based on the ASCII code

In [36]:
holi={1,23,45,67,43}

In [37]:
print(max(holi))
print(min(holi))

67
1

In [38]:
koli={"ABC","abc"}

In [39]:
print(max(koli))
print(min(koli))

abc
ABC

# Frozenset

 A Frozenset is immutable set. Frozen set  is thus an unordered colection of immutable unique items.
 
 we can create a Frozenset using the frozenset() function , which take a single iterable object as a parameter

In [14]:
rainbow={"voilet","indigo","blue","green","yellow","orange","red"}
# create frozenset
print(id(rainbow))
f_set=frozenset(rainbow)

print(f_set)
# output frozenset ({"indigo",'red','blue','orange','voilet','yellow','green'})
print(type(f_set))
print(id(f_set))

2655126066944
frozenset({'green', 'indigo', 'blue', 'orange', 'voilet', 'yellow', 'red'})
<class 'frozenset'>
2655126067616

In [3]:
f_set.add(21)  # we can't alter a frozenset

AttributeError: 'frozenset' object has no attribute 'add'

In [4]:
f_set.update([12,34,65])

AttributeError: 'frozenset' object has no attribute 'update'

In [10]:
rainbow=("voilet","indigo","blue","green","yellow","orange","red",[12,344])

frozenset(rainbow)      # a set will be frosed if it follows the condition of set

TypeError: unhashable type: 'list'

In [18]:
colourset1=frozenset(('voilet','indigo','blue','green'))
colourset2=frozenset({'blue','green','red'})

In [20]:
colourset1.union(colourset2) # union

frozenset({'blue', 'green', 'indigo', 'red', 'voilet'})

In [28]:
intset=colourset1.intersection(colourset2) # intersection

print(intset)

upset=colourset1.intersection_update(inset)     # intersection_update

frozenset({'blue', 'green'})

AttributeError: 'frozenset' object has no attribute 'intersection_update'

In [29]:
colourset1.difference(colourset2)    # difference

frozenset({'indigo', 'voilet'})

In [35]:
# converting frozenset into set

x=set(colourset1)
print(x)

y=set(colourset2)
print(y)

x.add(2)
print(x)

{'voilet', 'indigo', 'blue', 'green'}
{'red', 'blue', 'green'}
{2, 'indigo', 'blue', 'voilet', 'green'}

# Nested Sets

In [1]:
colourset1=(('voilet','indigo','blue','green'))
colourset2=('blue','green','red')

nested_set=set((frozenset(colourset1),frozenset(colourset2)))

print(nested_set)

type(nested_set)

{frozenset({'green', 'indigo', 'voilet', 'blue'}), frozenset({'green', 'blue', 'red'})}

set

## when to use set data type 

- Eliminating duplicate entries
- Membership testing
- Performing arthimatical  operation similar to mathematical set

### empty set

In [1]:
y=[]

In [2]:
x=set(y)

In [3]:
type(x)

set

## set comprehension