# Dictionaries 

Dictionaries are ordered collections  A unique values stored in (key-value) Pairs -keys is Immutable

## Chracterstics of Dictionaries

#### odered 

#### Unique: The Dic should be unique the (Mutable  type Strings , No , Tuples)

#### Mutable : The Dic are changeble collection 

#### Iterable: in python an  iterable  refers to an object that can be iterated over , meaning you can loop through its element one by one, iterable are a Fundamental concept in python's iteration protocol and they are used in various contexts where you need to rocess elements sequentially , such as in loops and comprehension expression . Example f built in python iterables includes lists, strings, tuples, dictionaries (when iterating over keys, values, or items), aets amd more

### creating a dictionaries 

#### 3 ways

- Using curly bracket: The Dic are created by enclosing the comma-separated key:Value pairs inside the{} curly brackets the colon"" is used to seperate the key and vaule in a pair 

- Using dic()constructor: create a dictionary by passing the comma-separated key:value Pairs inside the Dic()

- Using Sequence: creating a dictionary having each item as a pair(Key value)

In [1]:
# creating a dic using{}

person= {"name":"khusi",'country':'usa', "telephone":123}
print(person)

{'name': 'khusi', 'country': 'usa', 'telephone': 123}

In [4]:
# creating a dic with mixed keys

person=dict([('name','gautam'),('country','usa'),('telephone',2567)])

print(person)

{'name': 'gautam', 'country': 'usa', 'telephone': 2567}

In [2]:
# creating a dic with value as a list 

person={'name':'khusi','telephone':[21,23,21,23]}
print(person)

{'name': 'khusi', 'telephone': [21, 23, 21, 23]}

In [5]:
# creating dic with mixed keys
# first key is string and second is an integer

sample_dict={'name':'khusi',10:'mobile'}
print(sample_dict)

{'name': 'khusi', 10: 'mobile'}

In [8]:
person={'name':'khushi','country':'khusi'}

print(person)

# values can be duplicates , multiple keys can have same value, keys are immutable
# where as value can be either mutable or immutable but dic is mutable as a whole

{'name': 'khushi', 'country': 'khusi'}

In [10]:
person={'name':'khushi','name':'pawan'}

print(person)           # keys can't be same

{'name': 'pawan'}

In [16]:
dict1=dict({('name',2),('date',4)})

print(dict1)
type(dict1)

{'date': 4, 'name': 2}

dict

In [20]:
person={"name":["khusi",'tu'],'country':'usa','telephone':123}
print(person)
print(type(person))
print(id(person))

{'name': ['khusi', 'tu'], 'country': 'usa', 'telephone': 123}
<class 'dict'>
1526503356096

In [3]:
x={[2,3,'ti']:35,'country':'india','telephone':123}
print(x)

TypeError: unhashable type: 'list'

In [10]:
person={'name':'khusi','telephone':[21,23,24]}
print(person)

{'name': 'khusi', 'telephone': [21, 23, 24]}

In [12]:
person={'name':['khusi','khusi'],'telephone':[21,23,21,23]}
print(person)

{'name': ['khusi', 'khusi'], 'telephone': [21, 23, 21, 23]}

In [13]:
person={'name':['khusi','kainya'],'telephone':[21,23,21,23]}
print(person)

{'name': ['khusi', 'kainya'], 'telephone': [21, 23, 21, 23]}

## creating  a dic by sequencing

In [183]:
person= dict([('name','gautam'),('country','usa'),('telephone',234)])

print(person)

{'name': 'gautam', 'country': 'usa', 'telephone': 234}

In [1]:
person= dict(('name','gautam'),('country','usa'),('telephone',234))

TypeError: dict expected at most 1 argument, got 3

In [4]:
wide=dict([('name','ravi'),('class',4),('school','kvs')])

print(wide)
type(wide)

{'name': 'ravi', 'class': 4, 'school': 'kvs'}

dict

In [2]:
des=dict((('name','ravi'),('class',4),('school','kvs')))
print(des)
type(des)

{'name': 'ravi', 'class': 4, 'school': 'kvs'}

dict

In [5]:
lis=dict((['pawan','good'],['hey',23]))
print(lis)

{'pawan': 'good', 'hey': 23}

In [7]:
lis=dict([['pawan','good'],['hey',23]])
print(lis)
type(lis)

{'pawan': 'good', 'hey': 23}

dict

In [8]:
lis=dict({['pawan','good'],['hey',23]})

TypeError: unhashable type: 'list'

In [10]:
lis=dict({('pawan','good'),('hey',23)})
print(lis)
type(lis)

{'pawan': 'good', 'hey': 23}

dict

In [12]:
person=dict((('name','pawan')))

ValueError: dictionary update sequence element #0 has length 4; 2 is required

### There are two ways of accessing the dictionaries 

- Retrieve value using the key name inside the[ ] square brackets 
- Retrieve value by passing key name by parameter to get() method of a dictionary

In [59]:
# create a dictionary named pesons 

person={'name':'khusi','country':'usa','telephone':8191}

# acess value using key name in[]

print(person['name'])
# output 'khusi'

# get key value using key name in get()

print(person.get('telephone'))

# output 8191

khusi
8191

In [63]:
x=person.get('country')

print(x)

type(x)


x=person

usa

str

In [21]:
dic={'country':['usa','india','nepal'],'telephone':[34,56,78,12],'bill':'party'}

In [14]:
print(dic['country'][1]='pak')

print(dic['telephone'][3])

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2197757197.py, line 1)

 ###  we can get the items preesent in the dictionary by 
 
 keys() 
 
 values() 
 
 items()

In [1]:
dic={'country':['usa','india','nepal'],'telephone':[34,56,78,12],'bill':'party'}

In [5]:
dic.keys()

dict_keys(['country', 'telephone', 'bill'])

In [3]:
dic.values()

dict_values([['usa', 'india', 'nepal'], [34, 56, 78, 12], 'party'])

In [4]:
dic.items()

dict_items([('country', ['usa', 'india', 'nepal']), ('telephone', [34, 56, 78, 12]), ('bill', 'party')])

# Iterating a Dictionary

we can iterate through using a for-loop and access the individual keys and their corresponding values. Let us se this with an example.

In [40]:
person={'name': 'jyoti', 'country':'usa','telephone':1178}

# iterating the dic using for-loop
print('key', ':', 'value')
for i in person:
    print(i, ':', person[i])

key : value
name : jyoti
country : usa
telephone : 1178

In [38]:
print(key)

NameError: name 'key' is not defined

## finding  lenth of dic

In [41]:
person={'name': 'jyoti', 'country':'usa','telephone':1178}

In [42]:
print(len(person))

3

## Adding  items to the dictionary

In [1]:
person={'name': 'jyoti', 'country':'usa','telephone':1178}

In [2]:
person.update({'name':'pawan'})
print(person)

person.update({'food':'momo'})

print(person)

{'name': 'pawan', 'country': 'usa', 'telephone': 1178}
{'name': 'pawan', 'country': 'usa', 'telephone': 1178, 'food': 'momo'}

## Modify  the values of the dictionary keys

In [3]:
person['country']='india'
print(person)

{'name': 'pawan', 'country': 'india', 'telephone': 1178, 'food': 'momo'}

In [4]:
person['country','food']='nepal'
print(person)

{'name': 'pawan', 'country': 'india', 'telephone': 1178, 'food': 'momo', ('country', 'food'): 'nepal'}

In [5]:
person.update('country','usa')

TypeError: update expected at most 1 argument, got 2

In [7]:
person.keys()

dict_keys(['name', 'country', 'telephone', 'food', ('country', 'food')])

## set default

In [13]:
person={'name': 'jyoti', 'country':'usa','telephone':1178}

In [20]:
person.setdefault('name':90)

SyntaxError: invalid syntax (3750318757.py, line 1)

## slicing

In [17]:
person[0:1]

TypeError: unhashable type: 'slice'

## Append

In [23]:
person.append({'food':'soya'})

AttributeError: 'dict' object has no attribute 'append'

## Insert

In [24]:
print(person)

{'name': 'pawan', 'country': 'india', 'telephone': 1178, 'food': 'momo'}

In [28]:
person.insert(1,{'school':'birla'})

AttributeError: 'dict' object has no attribute 'insert'

## extend

In [29]:
person.extend({'food':'soya'})

AttributeError: 'dict' object has no attribute 'extend'

## Remove

In [40]:
person.remove('food')

AttributeError: 'dict' object has no attribute 'remove'

## Clear

In [43]:
person.clear()

print(person)

{}

## del

In [44]:
person={'name': 'pawan', 'country': 'india', 'telephone': 1178, 'food': 'momo'}

In [46]:
del person

In [47]:
print(person)

NameError: name 'person' is not defined

## pop

In [1]:
person={'name': 'pawan', 'country': 'india', 'telephone': 1178, 'food': 'momo'}

In [2]:
person.pop()

TypeError: pop expected at least 1 argument, got 0

In [56]:
person.pop('name')

'pawan'

In [57]:
print(person)

{'country': 'india', 'telephone': 1178, 'food': 'momo'}

In [58]:
person.pop('india')

KeyError: 'india'

##  Index

In [3]:
person={'name': 'pawan', 'country': 'india', 'telephone': 1178, 'food': 'momo'}

In [4]:
person.index('pawan')

AttributeError: 'dict' object has no attribute 'index'

In [61]:
person={'name': 'pawan', 'country': 'india', 'telephone':[1178,24,465,67,32] ,'food': 'momo'}

In [68]:
print(person.index(24))

AttributeError: 'dict' object has no attribute 'index'

In [69]:
person={'name': 'pawan', 'country': 'india', 'telephone':[1178,24,465,67,32] ,'food': 'momo'}

In [75]:
person+{'mobile':'nokia'}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [78]:
person={'name': 'pawan', 'country': 'india', 'telephone':[1178,24,465,67,32] ,'food': 'momo'}

In [76]:
person*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [82]:
person.add({'mobile':'nokia'})

AttributeError: 'dict' object has no attribute 'add'

## Removing items from the dictionary

- pop(key[,d]
- popitem()
- del key
- clear()
- del

In [86]:
person={'name': 'pawan', 'country': 'india', 'telephone':[1178,24,465,67,32] ,'food': 'momo'}

In [89]:
person.pop('name',[])

'pawan'

In [94]:
person.pop('telephone',[1178])

[1178]

In [95]:
person.pop('telephone',[1187])

[1187]

## popitem()

In [ ]:
person={'name': 'pawan', 'country': 'india', 'telephone':[1178,24,465,67,32] ,'food': 'momo'}

In [111]:
person.popitem()   # removing any random item usually the last one

('food', 'momo')

## del key

In [114]:
del person['name']

In [115]:
print(person)

{'country': 'india', 'telephone': [1178, 24, 465, 67, 32]}

## del

In [116]:
del person

In [117]:
print(person)

NameError: name 'person' is not defined

# Checking if a key exists

### by membership operator

In [21]:
person={'name': 'pawan', 'country': 'india', 'telephone':[1178,24,465,67,32] ,'food': 'momo'}

In [22]:
print('name' in person)

print('hey' in person)

True
False

In [23]:
person.get('telephone')

[1178, 24, 465, 67, 32]

### checking in keys and values

In [24]:
'food' in person.keys()

True

In [25]:
'food' in person.values()

False

### by if else

In [131]:
if 'name' in person:
    print('yes')
else:
    print('no')

yes

In [132]:
if 'country' in person:
    print('yes')
else:
    print('no')

yes

## adding two dictionary

In [153]:
dic1={'food':'momo','scool':'birla','no.':[421,5678,34,21]}

dic2={'person':'pawan','place':'halwani'}


print(id(dic1))
print(id(dic2))

1517124392704
1517124390912

In [154]:
dic1.update(dic2)

In [155]:
print(dic1)
print(type(dic1))
id(dic1)

{'food': 'momo', 'scool': 'birla', 'no.': [421, 5678, 34, 21], 'person': 'pawan', 'place': 'halwani'}
<class 'dict'>

1517124392704

In [158]:
dic3=dic1.update(dic2)

In [157]:
print(dic3)   # none is because it updating dic1 not creating new dic

None

In [145]:
dic1={'food':'momo','scool':'birla','no.':[421,5678,34,21]}

dic2={'person':'pawan','place':'halwani'}

In [149]:
dic3=dic1.update(dic2)

In [147]:
print(dic3)

None

In [150]:
x=dic1.update(dic2)

In [151]:
print(x)

None

In [164]:
dic1={'food':'momo','scool':'birla','no.':[421,5678,34,21]}

dic2={'person':'pawan','place':'halwani'}

dic3={'telephone':124}

In [177]:
dic1.update(dic2)
dic1.update(dic3)

In [178]:
print(dic1)

{'food': 'momo', 'scool': 'birla', 'no.': [421, 5678, 34, 21], 'person': 'pawan', 'place': 'halwani', 'telephone': 124}

## Using **kwargs to unpack

we can unpack any number of dictionary and add their contents to another dictionary using **kwargs . in this way, we can add multiple lenth argument to one dictionary in a single statement

In [181]:
student_dic1={'aaradhya':1,'parul':2}
student_dic2={'harry':5,'parth':6}
student_dic3={'sandhya':7,'disha':9}

# join three dictionary 

student_dic1= {**student_dic1, **student_dic2, ** student_dic3}

#printing the final merged dictionary

print(student_dic1)

{'aaradhya': 1, 'parul': 2, 'harry': 5, 'parth': 6, 'sandhya': 7, 'disha': 9}

In [5]:
dic1={'name':'hero','place':2}
dic2={'food':'momo'}
dic3={'telephone':12344}

In [7]:
dic4={**dic1,**dic2,**dic3}
print(dic4)

{'name': 'hero', 'place': 2, 'food': 'momo', 'telephone': 12344}

# Copy a dictionary

In [1]:
dic1={'food':'momo','scool':'birla','no.':[421,5678,34,21]}
dic2={'person':'pawan','place':'halwani'}

dic3=dic1.copy()

print(dic3)

dic4=dic2.copy()

print(dic4)

{'food': 'momo', 'scool': 'birla', 'no.': [421, 5678, 34, 21]}
{'person': 'pawan', 'place': 'halwani'}

In [2]:
dic2.copy()

{'person': 'pawan', 'place': 'halwani'}

In [8]:
dic1={'food':'momo','scool':'birla','no.':[421,5678,34,21]}
dic2={'person':'pawan','place':'halwani'}

In [10]:
dic1=dic2.copy()
print(dic1)

{'person': 'pawan', 'place': 'halwani'}

In [14]:
dic1={'food':'momo','scool':'birla','no.':[421,5678,34,21]}
dic2={'person':'pawan','place':'halwani'}

In [15]:
id(dic2)

2502156705728

In [16]:
dic2=dic1.copy()
print(dic2)
print(id(dic2))

{'food': 'momo', 'scool': 'birla', 'no.': [421, 5678, 34, 21]}
2502156706432

### Using assignment operator

In [17]:
dic1={'food':'momo','scool':'birla','no.':[421,5678,34,21]}
dic2={'person':'pawan','place':'halwani'}

In [19]:
print(id(dic1))

2502156685952

In [20]:
dic4=dic1

print(dic4)

id(dic4)

{'food': 'momo', 'scool': 'birla', 'no.': [421, 5678, 34, 21]}

2502156685952

## Using dict constructor

In [26]:
dic1={'food':'momo','scool':'birla','no.':[421,5678,34,21]}
dic2={'person':'pawan','place':'halwani'}

In [28]:
dict3=dict(dic1)

In [29]:
print(dict3)

{'food': 'momo', 'scool': 'birla', 'no.': [421, 5678, 34, 21]}

In [30]:
dic1=dict(dic2)

In [31]:
print(dic1)

{'person': 'pawan', 'place': 'halwani'}

In [32]:
print(dic1)

{'person': 'pawan', 'place': 'halwani'}

## Using items() method

In [34]:
dict4=dict(dic1.items())

In [35]:
print(dict4)

{'person': 'pawan', 'place': 'halwani'}

# Nested dictionary

In [37]:
dict5={'standard':dic1,'class':dic2,}

In [38]:
print(dict5)

{'standard': {'person': 'pawan', 'place': 'halwani'}, 'class': {'person': 'pawan', 'place': 'halwani'}}

## Python built-in function with dictionary

- max() and min()

 As the name suggests the max() and min() function will return the keys with maximum andminimum values in a dictionary respectively . Only the keys are considered here theri corresponding values

In [4]:
dict={1:'aaa',2:'bbb',3:'AAA'}

print('Maximum Key',max(dict)) #3

print('Minimum key',min(dict)) #1

Maximum Key 3
Minimum key 1

In [5]:
min(dict)

1

## Sorted()

In [2]:
dict1={'name': "pawan","key":40}

In [4]:
sorted(dict1)

['key', 'name']

In [6]:
dict1.discard('name')

AttributeError: 'dict' object has no attribute 'discard'

In [8]:
dict1.add('value')

AttributeError: 'dict' object has no attribute 'add'

In [11]:
dict2={'class':3}

In [12]:
dict1+dict2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [13]:
dict1.index['name']

AttributeError: 'dict' object has no attribute 'index'

## all(), any()

In [47]:
dic9={'name':0,'class':12}
dic10={0:'name','pace':12}
dic11={}

In [42]:
all(dic9)

True

In [50]:
print(all(dic10))
all(dic11)

False

True

In [46]:
any(dic10)

True

In [48]:
any(dic11)

False

# Dictionary comprehension

In [51]:
numbers=[1,3,5,2,8]

In [53]:
output_dict={x:x**2 for x in numbers if x%2==0}
print(output_dict)

{2: 4, 8: 64}

In [54]:
type(output_dict)

dict

### Second method

In [55]:
telephone_book=[1179,2000,3500]
person=['suri','gautam','ashish']

In [58]:
telephone_dict={key:value for key,value in zip(person,telephone_book)}

print(telephone_dict)

{'suri': 1179, 'gautam': 2000, 'ashish': 3500}

# Zip function

the zip function in python is used to aggregate elements from multiple iterable like(lists,tupes...) and returns an iterator of tuples  where each tuple contains the elements from the corresponding position of the input iterable

Syntax:

zip(iterables)

In [61]:
numbers=(1,2,3)
letters=('a','b','c')

zipped= zip(numbers,letters)
print(zipped)   # gives the memory address

<zip object at 0x000002713F3131C0>

In [62]:
# converting it into list 

zipped_list= list(zip(numbers,letters))
print(zipped_list)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [63]:
for i in zipped:
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [69]:
numbers=(1,2,3)
letters=['a','b','c']

In [68]:
one=list(zip(numbers,letters))
print(one)

[(1, 'a'), (2, 'b'), (3, 'c')]