- Accessing items of list
- accessing items of nested list
- Accessing items of set 
- Accessing elements of a dictionary

In [6]:
# accessing items of lits

list=[12,35,34,"yaay",89]

print(list[1],list[3],list[4])

35 yaay 89

In [9]:
# accessing items of nested list

list1=[12,34,990,3+56j,["pawan",34.6,2,[1,2,3,4]]]

print(list1[4][1],list1[4][3][2])

34.6 3

In [3]:
# accessing items of the set 

set={12,34,"hay",89,54,90}

print(set)

{89, 34, 54, 'hay', 90, 12}

- Checking if an item exists in a set
- Finding an element in the list
- Checking if a key exists in dict

In [22]:
# checking if an item exists in a set

set={12,34,"hay",89,54,90}

print(12 in set)

print(43 in set)

print(89 not in set)

True
False
False

- Removing item(s) from a set -remove () vs discard()
- Removing elements from a list
- Remove specific item 
- Remove all occurance of a specific item
- Remove all item present at given index
- Remove the range of items
- Remove all items 
- remove items from the dictionary

- Adding elements to the list 
- Append item at the end of the list 
- Add at the specific position
- Adding items to the dicitionary

In [34]:
 # Removing item(s) from a set -remove () vs discard()

set={12,34,"hay",89,54,90,"naay"}

set.remove(12)
print(set)

set.discard(34)
print(set)

set.discard("hay")
print(set)

set.remove("naay")
print(set)

{34, 'naay', 'hay', 54, 89, 90}
{'naay', 'hay', 54, 89, 90}
{'naay', 54, 89, 90}
{54, 89, 90}

In [49]:
# Remove specific item

list=[12,35,34,"yaay",89]

list.remove(89)
print(list)

# Removing elements from a list

list=[12,35,34,"yaay",89]

list.clear()
print(list)

# Remove all occurance of a specific item

list1=[20,12,20,56,20,24,20,56]
print(list1.remove(20),list1.remove(20),list1.remove(20),list1.remove(20))
print(list1)

[12, 35, 34, 'yaay']
[]
None None None None
[12, 56, 24, 56]

In [75]:
# Remove all item present at given index

list2=[12,45,98,76,["hey",34,90],54,22]
list2.pop(4)

print(list2)

# Remove the range of items

list2=[12, 45, 98, 76, 54, 22]

    
      
      
# Remove all items
      
list2=[12, 45, 98, 76, 54, 22]

list2.clear()
print(list2)

[12, 45, 98, 76, 54, 22]
[]

In [80]:
 # Add at the specific position

list3=[12,54,32,21,76,87]

list3.insert(2,0.67)
print(list3)

# Append item at the end of the list

list3.append(3000)
print(list3)

# Adding elements to the list

list3+[6000]

[12, 54, 0.67, 32, 21, 76, 87]
[12, 54, 0.67, 32, 21, 76, 87, 3000]

[12, 54, 0.67, 32, 21, 76, 87, 3000, 6000]

### Set Operation

- union of set 
- intersection of set 
- Intersection updaate 
- Difference of set 
- Difference update 
- Symmetric difference of set 
- Symmetric difference update 
- Copying a set 
- subset and superset 
- Find whether two sets are disjoint 
- Sort the set 
- Using python built-in fucn. for set
- All() and any()
- Max() and min()

In [10]:
# union of set 
set0={12,"raven",90,56,23}
set1={34,21,"hay",78,90,"raven"}

print(set0.union(set1))


#intersection of set 

set0.intersection(set1)

{34, 12, 78, 'raven', 21, 23, 56, 'hay', 90}

{90, 'raven'}

In [98]:
# Intersection updaate 

set0={12,"raven",90,56,23}
set1={34,21,"hay",78,90,"raven"}

set2=set0.intersection(set1)
print(set2)

set2.intersection_update(set1)
print(set1)

# Difference of set 

setdif=set1.difference(set0)
print(setdif)

setdif.difference_update(set1)
print(set1)


# Symmetric difference of set 

set_sym_dif=set0^set1
print(set_sym_dif)

# Symmetric difference update

set0.symmetric_difference_update(set_sym_dif)

print(set0)

{90, 'raven'}
{34, 21, 'hay', 90, 78, 'raven'}
{'hay', 34, 21, 78}
{34, 21, 'hay', 90, 78, 'raven'}
{12, 78, 21, 23, 'hay', 34, 56}
{34, 78, 'raven', 21, 'hay', 90}

In [99]:
# Copying a set 

setp={12,76,"say",}
sets={23,56,"no",90}

set_new=sets.copy()
print(set_new)


# Find whether two sets are disjoint 

print(setp.isdisjoint(sets))

print(sets.isdisjoint(setp))

#Sort the set 

setS={123,546,79,34.2,56.8,0.4}
print(sorted(setS))

# Max() and min()
 
print(max(setS))
print(min(setS))


# using sum()

sum(setS)

{56, 'no', 90, 23}
True
True
[0.4, 34.2, 56.8, 79, 123, 546]
546
0.4

839.4

## list operations

- Sort list using sort()
- Reverse a list using reverse()
- Python Built-in functions with  list 
- Using max() and min()
- Using sum()
- All()
- Any()
- Nested list

In [96]:
# Sort list using sort()

LIST=[12,345,78,78,45.3445]

print(sorted(LIST))

# Reverse a list using reverse()

LIST.reverse()

print(LIST)

# Using max() and min()
print(max(LIST))
print(min(LIST))

# Using sum()

sum(LIST)

[12, 45.3445, 78, 78, 345]
[45.3445, 78, 78, 345, 12]
345
12

558.3444999999999

## Dictionary Operations

- Join two dictionary 
- using update() metod
- Using **kwargs to unpack 
- Join two dictionaries having few items in common
- Copy a dictionary 
- copy using the assignment operator 
- Nested dictionary 
- add multiple dictionaried inside a single dictionary 
- sort dictionary 
- dictionary comprehension
- Python Built-in function with dictionary 
- max() and min()
- all()
- any()

In [21]:
# joining two dictionary

dic1={'name':'pawan','country':'nepal'}
dic2={'food':'momo','telephone':2324}

dic1.update(dic2)

print(dic1)

# **kwarg

dic1={**dic1,**dic2}

print(dic1)


# Join two dictionaries having few items in common

dic3={'name':'pawan','country':'nepal','telephone':2324}
dic4={'food':'momo','telephone':2324,'name':'pawan'}

dic3.update(dic4)
print(dic3)

{'name': 'pawan', 'country': 'nepal', 'food': 'momo', 'telephone': 2324}
{'name': 'pawan', 'country': 'nepal', 'food': 'momo', 'telephone': 2324}
{'name': 'pawan', 'country': 'nepal', 'telephone': 2324, 'food': 'momo'}

In [31]:
# Copy a dictionary

dic3={'name':'pawan','country':'nepal','telephone':2324}
dic4={'food':'momo','telephone':2324,'name':'pawan'}

print(dic3.copy())


# copy using the assignment operator 

dic5=dic4

print(dic5)

{'name': 'pawan', 'country': 'nepal', 'telephone': 2324}
{'food': 'momo', 'telephone': 2324, 'name': 'pawan'}

In [40]:
# Nested dictionary

dic0={'state':'assam','place':'haldwani',{'food':'rice','drink':'juice'},'bike':'bjaj'}

SyntaxError: ':' expected after dictionary key (468608247.py, line 3)

- convert two lists into dictionary 
- merge two dictionaries 
- print the value of a key from a dict

In [64]:
# convert two lists into dictionary 

x=dict([(20,12),(20,56,),(20,24),(20,56)])

print(x)

type(x)


list1=[('name','pawan'),('food','momo')]
list2=[('veg','onion')]

x=dict(list1+list2)

print(x)

type(x)

{20: 56}
{'name': 'pawan', 'food': 'momo', 'veg': 'onion'}

dict

In [4]:
# merge two dictionaries

x={'name': 'pawan', 'food': 'momo', 'veg': 'onion'}
y={'telephone':456}

x.update(y)

print(x)

# print the value of a key from a dict

x={'name': 'pawan', 'food': 'momo', 'veg': 'onion'}

print(x['name'])

{'name': 'pawan', 'food': 'momo', 'veg': 'onion', 'telephone': 456}
pawan

In [ ]:
# creat a dict by extracting the keys from a given dictionary

- Frozen set 
- when to use frozen set? 
- Nested sets 
- set comprehension

- when to use a set Data structure?
- when to use dictionaries

# summary of List Operations

 for the following examples, we assume that L1 and L2 are lists,x,i,j,k,n are integers
 
 L1=[10,20,30,40,50]  and L2=[60,70,80,60]

 x in L1 : check id the list  L1 contains x
 
 x not in L2 : check if list L1 doest not comtain item x
 
 L1+L2 : Concatenate the lists L1 and L2 . Creates a new list containing the items 
 
 L1*5 : Repeat the list L1 5 times 
 
 L1[i] : Get the item at index i ,Example L1[2] is 30 
 
 L1[i:j] : List slicing . Get the items from index i up to index j (excluding j) as a List .An example  L1[o:2] is [10,20]
 
 L1[i:j:k] : List slicing with step .Returns a List with the items from index i up to index j taking every k-th item. An example               L1[0:4:2] is [10,30]
 
 len(L1) : Returns a count of total items in a list 
 
 
 L2.count(60): Returns the no. of times a particular item(60) appears in a list . the answer is 2

 L1.index(30): Returns the index no. of a particular item(30) in a list . the answer is 2
 
 L1.index(30,2,5): Returns the index no. of a particular item (30) in a list .But search Returns the item with the minimum value                    from a list .The answer is 60 only from index no.2 to5
 
 min(L1): returns the item with a minimum value from a list . The answer is 10
 
 max(L1): Returns the item with maximum value from a list .The answer is 60 
 
 L1.append(100): add item at the end of the list 
 
 L1.append([2,5,7]): Append the nested list at the end 
 
 L1[2]=40 : Modify the items present at the index 2
 
 L1.remove(40): Removes the first occurrence of item 40 from the list 
 
 pop(2) : Removes and returns the item the index 2 from the list 
 
 L1.clear() : make list empty 
 
 L3=L1.copy() : copy L1 to L2