## properties of tuple

- Odered
- Unchangeable 
- Heterogenous 
- Contains Duplicates
- Iterable
- immutable

## Creating tuple

#### 1. Using parenthesis

In [3]:
no_tuple=(10,20,30,40)

mix_tuple=(10,'hey',1.3,2+7j,)

str_tuple=('pawan','singh','tangariya')

In [6]:
single_tuple=('hello')   # it is not tuple because tuple should have commas

type(single_tuple)

str

In [8]:
single_tuple=(10)

type(single_tuple)

int

In [9]:
not_single=(10,)

type(not_single)

tuple

In [9]:
x=10,20,30   # it is tuple because it have commas 

type(x)

tuple

In [14]:
tuple1=10,20,'hey'   # tuple can be created without parenthesis 

print(type(tuple1))

print(tuple1)     # packing an unpack tuple

<class 'tuple'>
(10, 20, 'hey')

#### 2. Using tuple() constructor

In [3]:
x=tuple([12,34,12])
print(x)
type(x)

(12, 34, 12)

tuple

In [5]:
y=tuple({12,34,'say',12.3})
print(y)
type(x)

(34, 12, 'say', 12.3)

tuple

In [7]:
z=tuple({'a':12,13:'b'})
print(z)
type(z)  # it took only keys of the dictionary

('a', 13)

tuple

### unpacking a tuple into variable

In [3]:
tuple1=10,20,'hey'

In [4]:
# unpacking a tuple into variable

i,j,k= tuple1

#printing the variables

print(i,j,k)

# output 1 2 hey

10 20 hey

In [5]:
print(tuple1)

(10, 20, 'hey')

In [6]:
g,k,y= tuple1    # g=10 k=20 y=hey    we are assigning variables the items of tuples 

print(g,k,y)

print(g)

10 20 hey
10

### lenth of a tuple

In [10]:
tuple6=(10,23,678)

In [11]:
len(tuple6)

3

### Indexing

In [19]:
tuple6[2]

678

### Modify

In [21]:
tuple6[0:1]='hey'

TypeError: 'tuple' object does not support item assignment

In [10]:
tuple1[1]=12

TypeError: 'tuple' object does not support item assignment

## Sclicing

In [4]:
tuple_1=(10,'helo',56,12.3,'sixty')

In [5]:
tuple_1[1:3]

('helo', 56)

In [ ]:
x=('z','d','c',1,2,3,4)
x[i:j:k]

In [14]:
x=('z','d','c',1,2,3,4)
x[len(x)-1:-len(x)-1:-1]

(4, 3, 2, 1, 'c', 'd', 'z')

In [15]:
x=('z','d','c',1,2,3,4)
x[len(x)-1:0:-1]

(4, 3, 2, 1, 'c', 'd')

In [16]:
x=('z','d','c',1,2,3,4)
x[len(x)-1::-1]

(4, 3, 2, 1, 'c', 'd', 'z')

In [17]:
x=('z','d','c',1,2,3,4)
x[::-1]

(4, 3, 2, 1, 'c', 'd', 'z')

In [18]:
x=('z','d','c',1,2,3,4)
b=(x),9
print(b)

(('z', 'd', 'c', 1, 2, 3, 4), 9)

In [19]:
x=('z','d','c',1,2,3,4)
b=((((x,9),)))
print(b)

((('z', 'd', 'c', 1, 2, 3, 4), 9),)

### Reversing

In [7]:
tuple_1[::-1]

('sixty', 12.3, 56, 'helo', 10)

### positive and Negative Indexing

In [24]:
tuple_1=(10,'helo',56,12.3,'sixty')

In [28]:
print(tuple_1[-1])
print(tuple_1[0])

sixty
10

## modifying nested  tuple

  a nested tuple can only be modified not a normal tuple

In [38]:
tuple_2=(34,56,'go',['slow',20],30)

tuple_2[3][0]=230

In [39]:
print(tuple_2)

(34, 56, 'go', [230, 20], 30)

### min & max

In [41]:
min(tuple_2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [42]:
tuple_3=(10,20,45,789)

In [44]:
print(min(tuple_3))
print(max(tuple_3))

10
789

## del

In [45]:
tuple_3=(10,20,45,789)

In [46]:
del tuple_3

In [47]:
print(tuple_3)

NameError: name 'tuple_3' is not defined

## clear()

In [50]:
tuple_3=(10,20,45,789)

In [51]:
tuple_3.clear()

AttributeError: 'tuple' object has no attribute 'clear'

## pop

In [54]:
tuple_3=(10,20,45,789)

In [55]:
tuple_3.pop()

AttributeError: 'tuple' object has no attribute 'pop'

## count

In [62]:
tuple_3=(10,20,45,789)

In [63]:
tuple_3.count(20)

1

## index()

In [15]:
tuple_3=(10,20,45,789)

In [64]:
tuple_3.index(20)

1

In [69]:
tuple_3.index(10,0,3)  # returns the index no. of a particular item(10) in a tuple .But search only from index number 0 to 3

0

## append

In [70]:
tuple_3.append('no')

AttributeError: 'tuple' object has no attribute 'append'

## find()

In [71]:
tuple_3.find(789)

AttributeError: 'tuple' object has no attribute 'find'

## replace()

In [72]:
tuple_3.replace(10,100)

AttributeError: 'tuple' object has no attribute 'replace'

## changing a list into tuple

In [1]:
list=[12,34,'hey',90]

In [4]:
x=list[0],list[1],list[2],list[3]
print(x)

(12, 34, 'hey', 90)

In [5]:
print(type(x))

<class 'tuple'>

In [6]:
type(x)

tuple

### Concatenation

In [11]:
tuple1=(5,6,7,8,9,10)
tuple2=(1,2,3,4,5,6,5)

#### Using + operator

In [12]:
tuple1+tuple2

(5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 5)

### Using  sum()

In [24]:
tuple=tuple1.sum(tuple2)

AttributeError: 'tuple' object has no attribute 'sum'

In [25]:
tupleS=tuple1.sum(tuple2)

AttributeError: 'tuple' object has no attribute 'sum'

In [26]:
tupleS=sum(tuple1,tuple2)

TypeError: can only concatenate tuple (not "int") to tuple

In [29]:
tupleS=sum((tuple1,tuple2),())

print(tupleS)

(1, 2, 3, 4, 5, 6, 5, 1, 2, 3, 4, 5, 6, 5)

In [31]:
list1=[1,2,3,4,5,6]
list2=[7,8,9,10,11]

sum(list1,list2)

TypeError: can only concatenate list (not "int") to list

In [33]:
sum(list1,list2,[])

TypeError: sum() takes at most 2 arguments (3 given)

In [34]:
sum((list1,list2),[])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### Using chain() function

The itertools.chain() function is used to combine multiple iterable objects like(list,tuple,set,dict,string) into a single element

In [37]:
list1=[12,34,12]
tuple1=('hey',90)
set1={12,24,12,'hello'}

In [42]:
import itertools

combined_iterable=itertools.chain(list1,tuple1,set1)
print(combined_iterable)

print(list(combined_iterable))

<itertools.chain object at 0x000001D45B25CF70>
[12, 34, 12, 'hey', 90, 24, 'hello', 12]

In [2]:
list1=[12,34,12,['mutable']]
tuple1=('hey',90)
set1={12,24,12,'hello'}

import itertools

com_set=set(itertools.chain(list1,set1,tuple1))
print(com_set)

TypeError: unhashable type: 'list'

In [3]:
list1=[12,34,12,['mutable']]
tuple1=('hey',90)
set1={12,24,12,'hello'}

import itertools


com_set=list(itertools.chain(list1,set1,tuple1))
print(com_set)

[12, 34, 12, ['mutable'], 24, 12, 'hello', 'hey', 90]

In [4]:
list1=[12,34,12,['mutable']]
tuple1=('hey',90)
set1={12,24,12,'hello'}

import itertools

com_set=tuple(itertools.chain(list1,set1,tuple1))
print(com_set)

(12, 34, 12, ['mutable'], 24, 12, 'hello', 'hey', 90)

In [10]:
for i in com_set:
    print(i)
    
print(com_set)

12
34
12
['mutable']
24
12
hello
hey
90
(12, 34, 12, ['mutable'], 24, 12, 'hello', 'hey', 90)

In [6]:
print(com_set)

(12, 34, 12, ['mutable'], 24, 12, 'hello', 'hey', 90)

In [12]:
list1=[12,34,12,['mutable']]
tuple1=('hey',90)
set1={12,24,12,'hello'}

import itertools


com_set=list(itertools.chain(list1,set1,tuple1))
print(com_set) 

for i in com_set:
    print(i)
    
print(com_set)

[12, 34, 12, ['mutable'], 24, 12, 'hello', 'hey', 90]
12
34
12
['mutable']
24
12
hello
hey
90
[12, 34, 12, ['mutable'], 24, 12, 'hello', 'hey', 90]

### Replication

In [14]:
tuple1*3

(5, 6, 7, 8, 9, 10, 5, 6, 7, 8, 9, 10, 5, 6, 7, 8, 9, 10)

### Modify nested items of a tuple

In [17]:
tuplex=(1,2,3,[9,8,7])

tuplex[3][1]=15
print(tuplex)

(1, 2, 3, [9, 15, 7])

### Copy

In [21]:
tuple1=(5,6,7,8,9,10)
tuple2=(1,2,3,4,5,6,5)

tuple1=tuple2

print(tuple1) # this is a normal copy NOT A DEEP COPY any made on tuple2 will reflect on tuple1(c/z tuple is an immutable data type )

(1, 2, 3, 4, 5, 6, 5)

In [18]:
x=tuple1.copy()

AttributeError: 'tuple' object has no attribute 'copy'